/* Subtitle */
.EVPSubtitle{
	font-family:Arial;
	text-align:center;
	color:#FFFFFF;
	text-shadow: 0px 0px 1px #000000;
	font-size:20px;
	line-height:24px;
        font-weight:600;
	margin:0px;
	padding:0px;
	margin-left:20px;
	margin-right:20px;
	margin-bottom:12px;
}

/* Annotations */
.EVPSpeachBubble {
	position: relative;
	width: 290px;
	padding:10px;
	margin:0px;
	background: #FFFFFF;

}
