/* for form add user */
.form-add-user label.parent {
    display: block;
    padding-bottom: 10px;
    padding-top: 7px;
}
.form-add-user label.child {
    margin-left: 20px;
    font-weight: normal;
    padding-bottom: 10px;
    cursor: pointer;
}
.form-add-user input[type=checkbox] {
    margin: 2px 5px 0 0;
    cursor: pointer;
}
.message-alert {
    overflow: hidden;
    width: 100%;
}
.validation-alert {
    margin-top: 10px;
}
/*for featured image article*/
#load-image img {
    max-width: 100%;
}
.hot-tags h5{
    cursor: pointer;
} 
/* for course */
.datepicker-days,
span.input-group-addon {
    cursor: pointer;
}
.input-group {
    padding-right: 15px!important;
    padding-left: 15px!important;
}
.load-image-course {
    max-width: 200px;
}
.datepicker-days tbody td:hover {
    border: 1px solid #f1f1f1;
}
.no-padding {
    padding: 0!important;
}
.chosen-container.chosen-container-multi {
    width: 100%!important;
}
.chosen-container.chosen-container-multi ul.chosen-choices {
    min-height: 34px;
}
.chosen-container.chosen-container-multi ul.chosen-results {
    max-height: 120px;
}
label span {
    color: red;
}
#permission {
    max-height: 300px;
    overflow: auto;
}
.load-image-banner {
    max-width: 100%;
    max-height: 300px;
    overflow: hidden;
}
.banner-table td img.banner-thumb {
    max-width: 200px;
    max-height: 100px;
}
tr.thick td {
    font-weight: bold;
    color: #4b4b4b;
}
tr.thick td a {
    color: ##039396;
}
tr.thin td {
    font-weight: lighter;
    color: #666;
}
input.unmark{
    border-color: red;
    border-width: 1px;
}
input.score{
    color: #1e9046;
    text-align: center;
    width: 100%;
    font-weight: bold;
    font-size: 15px;
}
#commentModal .modal-header,
#previewPdfModal .fileFramePreview .modal-header,
#previewArrModal .arrFramePreview .modal-header {
    background-color: #293846;
    color: white;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
#previewArrModal .arrFramePreview .modal-body div {
    padding: 5px 0;
}
#previewArrModal .arrFramePreview .modal-body .answer-true {

}
#previewArrModal .arrFramePreview .modal-body .answer-true::after {
    content: "\f00c";
    font-family: "FontAwesome";
    color: #73f934;
    font-size: 16px;
    margin-left: 10px;
}
#previewArrModal .arrFramePreview .modal-body .answer-false {

}
#previewArrModal .arrFramePreview .modal-body .answer-false::after {
    content: "\f00d";
    font-family: "FontAwesome";
    color: #c92229;
    font-size: 16px;
    margin-left: 10px;
}
#datetimepicker-mark {
    margin-bottom: 4px; 
}
.overlay-black {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(0,0,0,.7);
    width: 100%;
    height: 100%;
    z-index: 1000;
    padding: 0;
    margin: 0;
}
.overlay-black h3{
    color: white;
    text-align: center;
    margin-top: 20%;
}

.padding-middle{
    padding-top: 8px;
}

.ibox-content{
    padding-top: 5px;
}

.col-checkbox{
    width: 30px;
}

.col-Id {
    width: 70px;
}

.col-status {
    width: 80px;
}
.col-actions {
    width: 200px;
}

.pagination{
    margin-top: 5px;
    margin-bottom: 0px;
}

.form-group{
    clear: both;
}

.table{
    margin-bottom: 5px;
}

.form-control{
    padding: 6px;
}

.nav .open > a{
    background: #2f4050!important;
    color: #fafafa!important;
}

.dashboard .ibox-title h5{
    font-size: 12px;
}
.dashboard .row .col-lg-7 div{
}

.dashboard .ibox-title{
    padding: 11px 15px 7px;
    min-height: 35px;    
}
.dashboard .ibox-content{
    padding: 15px;
    border-bottom: 1px solid #e7eaec;
}
#previewImgModal .modal-body img {
    max-width: 100%;
}
/** for add question into exam**/
#addQuestionModal .result-questions-box {
    padding: 10px 20px;
    display: table;
    margin-top: 10px;
}
#addQuestionModal .result-questions-box ul {
    margin: 0;
    padding: 0;
}
#addQuestionModal input#match-question {
    max-width: 500px;
    margin: 0px auto;
}
#addQuestionModal .result-questions-box ul li{
    list-style: none;
    width: 50%;
    float: left;
    padding: 5px 20px 5px 10px;
    border-radius: 3px;
    border: 1px solid transparent;
    transition: all 150ms;
}
#addQuestionModal .result-questions-box ul li:hover {
    border: 1px solid #f77207;
    background: rgba(0,0,0,.1);
} 
#addQuestionModal .result-questions-box ul li::before {
    content: '';
    display: block;
    height: 5px;
    width: 5px;
    float: left;
    background: #4b4b4b;
    margin: 5px;
}
#addQuestionModal .result-questions-box ul li a{
    line-height: 1.2em;
    font-size: 14px;
    color: #4b4b4b;
    display: flex;
    font-weight: 500;
}
#addQuestionModal .result-questions-box ul li a:hover {}

#list-users{
    background: #f5f5f5;
    height: 250px;
    overflow-y: scroll;
    display: none;
    margin: 0px;
    padding: 10px;
    position: absolute;
    z-index: 9999;
    width: 320px;
    top: 34px;
}
#list-users li{
    list-style: none;
    line-height: 22px;
    
}
#list-users li a{
    font-size: 13px;
    color:#4b4b4b;
}


.required{
    color:red;
}