.price-wrapper {
    padding: 0px 10px;
}
.price-wrapper .price-sale, .price-wrapper .price-sale {
    font-size: 18px;
    color: #242424;
    font-weight: 700;
    text-align: left;
}
.price-sale .price-regular {
    font-size: 11px;
    color: #a2a2a2;
    text-decoration: line-through;
    text-align: left;
    font-weight: 300;
}
.sale-tag-square {
    color: #FF3B26;
    display: inline-block;
    font-size: 12px;
    font-weight: 500;
    margin-left: 2px;
}