.relate-article.relate-news{
	clear: both;
}

.practice-filter{
	display: block;
}
.practice-filter .radio{
	display: inline-block;
}
@media screen and (min-width: 1200px){
	.mobile{
		display: none;
	}
}
@media screen and (min-width: 1200px){
	body.courses-course #competition, body.home-index #competition{
		padding-left: 0px;
	}
	.khoa-hoc .items .item .info {
		min-height: 88px;
		position: relative;
	}
	#competition .content-competition{
		max-height: 410px;
		overflow: hidden;
	}
	.content  .question img{
		max-width: 750px;
		height: auto;		
	}
	#menu-top >ul >li >a:first-child{
		padding-left: 0px;
	}
	#menu-top >ul >li >a{
		padding: 0 12px!important;
	}
	.mobile-show-panel{
		display: none;
	}
	.container-reg{
		width: 400px;
	}
	.home-video-intro{
		padding: 0px;
	}
	.home-video-intro iframe{
		height: 250px!important;
	}
	.khoa-hoc .items .item .img-thumbnail img{

	}
	.video-player-collapse iframe{
		height: 600px!important;
	}
}
/* Mobile */
@media screen and (min-width: 320px) and (max-width: 667px) {
	.topbar{
		margin-bottom: 5px;
		padding: 60px 0px 6px 0px;
	}
	.topbar ul li:first-child, .topbar ul li:last-child{
		display: none;
	}
	.topnav-user-mobile.userLogged >div>a:last-child{
		padding-top: 0px;
	}
	#logo .mobile img{
		width: 92px;
	}
	.filter-title>span {
		padding: 0 38px;
		font-size: 15px;
		font-weight: 700;
	}	
	#banner-answer{
		display: none;
	}
	.topnav-user-mobile{
		text-align: center;
	}
	#header-top > .container{

	}
	.topnav-user-mobile.userLogged{
		text-align: center;
	}	
	.topnav-user-mobile a, .top-login a{
		font-weight: 700;
		padding: 0px 15px;
	}
	.btn-courses{
		text-align: center;
	}
	.btn-courses a{
		margin-bottom: 10px;
	}
	.desktop{
		display: none;
	}	
	.exam-detail-content .box-result{
		text-align: center;
	}
	.exam-detail-content .container{
		padding: 0px 8px;
	}
	.box-item .question img{
		width: 100%;
		height: auto;
	}
	.content  .question img {
		width: 100%;
		height: auto;
	}

	#answer-sheet-panel{
		display: none;
	}
	.exam-detail-heading .count-down{
		right:0px!important;
		left: inherit;
		width:115px;
		height: 40px;
	}
	.exam-detail-heading .count-down img {
		height: auto;
		width: 24px;
	}	
	.mobile-show-panel{
		display: block;
	}
	.list-content-care p a{
		float: none;
	}
	.name-student{
		width: 162px;
	}
	.content-activity{
		width: 240px;
	}
	button.btn.btn-register {
		float: none;
	}
	.banner.position-3{
		margin: 0px auto;
	}
	.captcha-image{
		margin:10px 0px;
	}
	#header-top{height: auto;margin-bottom:5px; }
	#logo {width:60%;position: absolute;top: 5px;z-index: 9;}
	#slogan{display: none;}
	#contact-account {margin-top: 28px; text-align: center;}
	#contact-account #contact a i{margin: 0 5px;}
	#account a, #account span {line-height: 30px;font-size: 12px;}
	.navbar-default .navbar-brand {color: #fff;}
	.dis-hidden-search {position: absolute;top: 3px;right: 22%;z-index: 10;text-align: center;}
	#menu .dis-hidden-search i {display:block;margin: 0;text-align: center;}
	#search, #banner-answer {margin-bottom: 5px;}
	#search {width: 100%;position: absolute;top: 55px;padding: 0 10px;z-index: 8;height: 50px;background: #fafafa;border-bottom: 1px solid #f1f1f1;}
	.search {margin: 0 0 0 0%!important;padding: 0;}
	#search button{width: 20%;margin: 5px 0;}
	#search input {margin:5px 0!important;width: 80%!important;float: left!important;border-radius: 5px 0 0 5px!important;border: 1px solid #ccc;}
	#menu {width: 100%;position: absolute;top: 0;z-index: 1;border-bottom: 2px solid #f7941d;}
	#menu-top >ul >li ul li a {color: #fff;}
	#menu-top ul li a:hover {color: #f7941d;}

	#answer-question .form-question{
		width: 70%;
		border-right: 1px solid #f7941d;
	}
	#answer-question .btn-answer{
		float: none;
		width: 30%;
	}
	#answer-question{
		text-align: center;
	}
	#competency-assessment{
		margin-bottom: 15px;
		margin-top: 15px;
	}
	#free-study.col-xs-12{
		/*margin: 0px 15px;*/
		width: 100%;
	}
	#survey-competency-assessment{
		margin-bottom: 18px;
	}
	.title-site h1{
		margin:16px 0px;
	}
	#survey textarea{
		max-height: 100px;
	}
	#assessment .box-assessment{
		margin-bottom: 10px;
	}
	.table-ranking table {
		border:0px;
	}
	.facebook-group{
		padding: 20px;
	}
	.ads-02{
		margin-top: 12px;
	}
	.support-footer .supports{
		width: 100%;
	}
	.content-footer p, .content-footer p a{
		display: inline-block;
		text-align: center;
	}
	.module-lesson h1.page-title{
		padding: 15px 24px;
	}	
	#wrap-login{
		width: 100%;
		top:0px;
		left: 0px;
	}
	.doc-category {
		margin-top: 15px;
		margin-bottom: 15px;
	}	
	.news-detail .tags-list a{
		padding: 3px 3px;
	}
	h1.title-sidebar-news{
		margin-bottom: 6px;
	}
	footer{
		margin-top: 25px;
	}
	footer.footer-module-index{
		margin-top: 0px;
	}
	.content-login{
		padding: 0px;
	}		
	.content-login .login-fb{
		margin-top:15px;
	}
	.content-login form input{
		margin:0px auto;
	}
	#practice-module .finished-exam .box-item .time-line {
		float: left!important;
		display: inline-block;
		font-size: 15px;
		margin: 8px 20px 0 30px;
	}
	#practice-module .box-item .btn-start {
		float: none!important;
		margin: 10px 20px 0 30px;
	}
	#practice-module .finished-exam .box-item .content, 
	#practice-module .current-exam .box-item .content {
		max-width: 90%;
	}
}

/** Tablet 1024*768 */
@media screen and (min-width: 768px) and (max-width: 950px) {

	.navbar-header{
		display: none;
	}
	#menu .dis-hidden-search i{
		position: absolute;
		right: 0px;
	}
	.navbar-collapse{
		padding-left: 0px;
		padding-right: 0px;
	}
	.container{
		padding-right: 0px;
		padding-left: 0px;
		width: 100%;
	}
	#account .btn-head-register{
		margin-left: -35px;
	}
	#slogan h1{
		font-size: 18px;
	}
	#menu-top >ul >li >a i{
		display: none;
	}
	.exam-detail-heading .container{
		width: 1024px;
		padding: 0px;
	}
	.exam-detail-heading .navbar-nav li a{
		padding-right:5px; 
		padding-left:5px; 
	}
	.featured_widget_exam ul.nav-tabs li a{
		padding: 10px 9px;
	}
	#answer-question .btn-answer{
		width: 136px;
	}
	#answer-question .form-question{
		width:408px;
	}
	#menu-top >ul >li >a{
		font-size: 16px;
		padding: 12px 9px;
	}
	#competition .content-competition{
		max-height: 410px;
		overflow: hidden;
	}
	#survey{
		width: 100%;
	}
	.mobile{
		display: none;
	}
	#search input{
		border:1px solid #F7941D;
	}
	#free-study, #competency-assessment{
		width: 100%;
		margin: 10px 0px;
	}
	#survey-competency-assessment{margin-bottom: 0px;}

	.box-assessment {height: auto;}	
	.box-content-care{
		min-height: 505px;
	}
	.home-ranking table tbody tr td.item-name{
		padding-left: 10px;
	}
	.fb_iframe_widget_fluid{
		width: 100%;
		overflow: hidden;
	}
	.connect-footer{
		overflow: hidden;
	}
	.img-sidebar-news{
		height: auto;
		width: auto;
	}
	h1.title-sidebar-news{
		margin-bottom: 15px;
	}
	.news-detail .tags-list a{
		display: inline-block;
		margin-top: 3px;
	}
	.doc-category{
		padding-left: 0px;
	}
	.module .list-txt ul li a{
		line-height: normal;
	}
	.module .list-txt ul li .arrow{
		padding-right: 3px;
	}

	h2.title-news-sidebar{
		margin-bottom: 10px;
	}
	#wrap-login{
		left: 24%;
	}
	.banner.position-3 {
		margin-right: 0;
		margin-left: 0;
	}
	.list-item .item .info h2 a {
		line-height: 1.2em;
	}
	.list-item .item .info h2 {
		height: 2.4em;
		overflow: hidden;
	}
	.khoa-hoc .items .item{
		min-height: 248px;
	}	
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
	#list-courses.list-item .item .img-thumbnail{

	}
	#detail-courses{
		width: 100%;
	}
	#wrap-login{
		top:10%;
	}
	.video-lesson{
		width: 96%;
	}
	#menu-top >ul >li >a{
		line-height: 37px!important;
	}
	.content-news-list{
		width: auto;
		float: none;
	}
	.page-view, .news-list, .news-detail, .list-docs{
		width: 70%;
	}
	.sidebar-news, .doc-category{
		width: 30%;
	}
	.list-post-sidebar img, .list-post-sidebar .info p{
		display: none;
	}	
	.post-sidebar{
		min-height: auto;
	}
	.img-sidebar-news{
		display: none;
	}	
	h1.title-sidebar-news{
		margin-bottom: 6px;
	}
	h2.title-news-sidebar a{
		font-weight: 500;
	}	
	#banner-answer{
		width: 100%;
	}
	#competition{		
		width: 100%;
		margin-top: 15px;
	}
	.img-student img, .box-activity .img-user-activity img{
		width: 40px;
		height: 40px;
	}
	.name-student, .detail-content p{width: 220px;}
	.content-activity{
		width: 150px;
		font-size: 15px;
	}
	#ranking{
		padding-left: 0px;		
	}
	#activity{
		padding-left: 0px;
		padding-right: 0px;
	}
	.newTickers .box-heading {
		width: 20%;
		float: left;
	}	
	.newTickers .box-content{
		width: 80%;
	}	
	.list-content-care p a{
		width: 95%;
		float: none;
	}

	.img-bg-assessment{
		width: 100%;
	}
	#assessment{padding: 24px 0 24px 0px;}
	.list-post-sidebar .info {
		width: 100%;
		float: none;
	}
	#courses-module .video-lesson  iframe{
		height: 350px;
	}
	.banner.banner-outer {
		display: none;
	}
	.no-margin {
		margin: 0;
		width: 100%;
	}
	#document-detail .detail-top .box-content .item {
		width: 92%;
	}
}


@media screen and (min-width: 950px) and (max-width: 1024px) {
	.content-care{
		min-height: 303px;
	}
	.featured_widget_exam ul.nav-tabs li a{
		padding: 10px 9px;
	}
	#answer-question .form-question{
		width: 520px;
	}
	#free-study, #competency-assessment{

	}
	.box-cometency{
		min-height: 378px;
	}
	#free-study{
		min-height: 378px!important;
	}
	#survey{
		min-height: auto;
		padding-bottom: 16px;		
	}
	#survey .form-control{
		width: 100%;
	}	
	.form-phone, .form-class{
		/*width: 136px!important;*/
	}
	.survey-school, .survey-class, .form-email, .form-phone{
		float: none!important;
	}
	a.btn.btn-download, a.btn.btn-send{
		padding: 0px 16px;
	}
	#menu-top >ul >li >a{
		font-size: 16px;
		line-height: 37px;
		padding: 0px 7px!important;
	}
	.ads-02 {height:auto;}
	.khoa-hoc .items .item{
		min-height: 195px;
	}	
}

@media screen and (min-width: 992px) {

	#menu {height: 50px;margin-top: 10px;}
	.navbar-header {display: none;}
	#menu-top >ul{height:40px;}
	#menu-top {padding-left: 0;}
	#menu-top >ul >li >a{text-align: center; padding: 0 12px;line-height: 50px;}
	#menu-top >ul >li:hover{background: #20BCF0;}
	#menu-top >ul >li:hover .sub-menu {background: #fff; border:none; border-radius: 0px;}
	.name-user:hover .sub-accout{display: block; margin-top: 0px;border:none; border-radius: 0px;}
	#menu-top >ul >li:hover ul{display: block; margin-top: 0px;}
	#menu-top >ul >li:hover ul li a{ border-top:none;color:#4b4b4b;}
	#account .name-user .sub-accout {width: 217px;margin-left: 150px;padding: 1px 0;margin-top: 8px;}
	.form-fullname {
		width: 350px;
	}
	.form-email{
		width: 200px;
		margin-right: 10px;
		margin-bottom: 10px;
	}
	.form-class{
		width:140px;
	}
	.form-phone{
		width: 140px;
	}
	.form-school {
		width: 200px;
		margin-right: 10px;
	}
	.survey-introduce textarea {
		width: 350px;
		height: 72px;
	}

	.survey-school, .survey-class, .form-email, .form-phone{
		float: left;
	}
	.doc-category{
		padding-left: 0px;
		padding-right: 0px;
	}
	#free-study{
		min-height: 288px;
	}
	#survey{
		padding-top: 16px;
		border-radius: 5px;
		background: #f0f0f0;
		min-height: 288px;
	}

	#survey-competency-assessment .title-site h1{
		margin-bottom: 40px;
		font-family: 'Patrick Hand';
		margin-top: 20px;
	}
	.module {margin-bottom: 40px;}
	#user-module {margin-bottom: 40px;}
}


@media screen and (min-width: 768px) {
	.mobile{display:none }
}
@media screen and (max-width: 767px) {
	.mobile{display:block; }
	.desktop{display: none;}
	.navbar-default .navbar-toggle .icon-bar {background-color: #fff;}
	button.navbar-toggle.collapsed { border: 0;background-color: #f7941d;}
	.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {background-color: #f7941d;}
	.box-assessment .item-assessment .img-bg-assessment, .box-assessment .item-assessment{
		text-align: center;
		margin: 0;
	}
	.ads-02 img{
		height: 100%;
	}
	#footer-1{
		text-align: center;
	}
	#assessment, #comment-news{
		padding-top: 15px;
		padding-bottom: 15px;
	}
	#comment-news{

	}
	.title-news-comment h1{
		text-align: center;
	}
	.title-news-comment hr{
		width: 100%;
	}
	#members-care{
		margin-bottom: 15px;
	}
	.img-sidebar-news{
		width: 100%;
		height: auto;
	}
	.list-post-sidebar .info{
		width: 100%;
	}
	h2.title-news-sidebar{
		padding-top: 10px;
	}
	.content-detail p img, .content-detail img{
		width: 100%;
		height: auto;
	}
	.content-detail iframe{
		height: auto;
	}
	.outstanding .img-news{
		height: auto!important;
	}
	.outstanding .img-news img{
		height: auto!important;
	}
	.news-items .outstanding{
		height: auto;
		min-height: auto;
		margin-bottom: 0px;
	}
	.news-items .img-news, .content-news-list{
		width: 100%;
	}
	.news-items .news-post, .img-news, #list-courses.list-item .item .info{
		height: auto;
		min-height: auto;
	}
	.news-items .news-post h2{
		margin-top: 10px;
		margin-bottom: 10px;
	}
	#list-courses.list-item .item{
		margin: 15px 0;
		min-height: auto;        
	}

	#list-courses.list-item .item .info{
		padding-top: 10px;
	}
	#list-courses.list-item .item{
		margin: 5px 0px;
	}
	.ads-02{
		margin-bottom: 15px;
	}
	.featured_widget_exam #news ul li a {
		line-height: 1.6em;
	}
	.box-cometency p {
		font-size: 28px;
		text-align: center;
	}
	a.btn.btn-send,
	a.btn.btn-download {
		margin-top: 20px;
		font-size: 24px;
	}
	#survey-upload-form .modal-body {
		padding: 15px 20px;
	}
	.box-content-care {
		margin-bottom: 20px; 
	}
	#free-study h3 {
		font-size: 34px;
	}

	#list-courses.list-item .info-relate {
		top: 60%;
	}
	#courses-module .video-lesson  iframe{
		height: 250px;
	}
	#courses-module .download-lesson a {
		float: none;
		margin: 0 15px 0 0;
	}
	#courses-module .download-lesson {
		padding-top: 10px;
	}
}