@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700');
body{
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    font-weight: 500;
}
#search,
#survey i {
    position: absolute
}

li,
ul {
    list-style-type: none
}

* {
    padding: 0px;
    margin:0px;
}

a:hover {
    text-decoration: none
}

footer,
header,
section {
    clear: both
}
.topbar{
    background: #fafafa;
    border-bottom: 1px solid #f1f1f1;
    padding: 10px;
        margin-bottom: 20px;
}
.topbar ul{
    margin:0px;
    padding: 0px;
    text-align: right;
}
.topbar ul li{
 display: inline-block;
}

.topbar ul li a{
    display: block;
    padding: 0px 15px;
    color:#333;
}
.user_amount strong{
    color:red;
}
#account .btn-head-login,
#account .btn-head-register {
    color: #4b4b4b;
    padding: 5px;
    border-radius: 3px;
    font-size: 16px
}

#account .btn-head-register {
    margin-right: 5px
}

#account a:hover {
    color: #1263AF!important
}

#account .name-user {
    width: 100%;
    text-align: right
}

#account .name-user a {
    padding: 10px
}

#account .name-user ul li a {
    padding-left: 15px;
    font-size: 15px
}

#account .name-user ul li a:hover {
    color: #fff!important;
    background: #f0ca31;
    font-weight: 700
}

#slogan h1 {
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
    color: #EF0D4E;
}

#contact-account {
    text-align: right
}

#contact-account #contact a i {
    width: 26px;
    text-align: center;
    line-height: 24px;
    border-radius: 50%;
    background: #1263AF;
    color: #fff;
    margin: 0 2px;
    font-size: 14px
}

#contact-account #contact a i:hover {
    background: #f0c61d
}

#account {
    margin-top: 15px
}

#account a {
    font-size: 14px;
    letter-spacing: .4px;
    padding: 5px;
    color: #4b4b4b
}

#menu {
    background: #0c78da;
}

nav.navbar {
    margin: 0;
    padding: 0;
    background: 0 0;
    border: none
}

#menu-top>ul>li.active>a {
    background: #20BCF0;
}

#menu-top>ul>li>a {
    color: #fff;
    font-size: 16px;
    font-weight: 700
}

#menu-top>ul>li ul li a {
    color: #fff;
    font-size: 16pxdisplay: block;
}

#menu-top>ul>li ul li a:hover {
    background: 0 0;
    color: #4b4b4b
}

#menu .dis-hidden-search i {
    float: right;
    width: 50px;
    cursor: pointer;
    color: #fff;
    z-index: 100;
    line-height: 50px;
    font-size: 18px
}

#search {
    width: 100%;
    display: none;
    z-index: 9
}

.search {
    padding: 10px
}

#search button {
    border: 0;
    float: right;
    background: #F7941D;
    text-align: center;
    color: #fff;
    font-size: 18px;
    padding: 0 15px;
    line-height: 34px;
    border-radius: 0 5px 5px 0
}

#search input {
    width: 270px;
    float: right;
    padding: 10px;
    border-radius: 3px 0 0 3px;
    border: 1px solid #F7941D;
    border-right: 0
}

#search input:focus {
    outline: 0;
    border-color: #F7941D;
    box-shadow: none
}

#banner-competition {
    padding: 5px 0px
}

#banner-top {
    margin-bottom: 20px
}

#banner-top img {
    width: 100%;
    height: 322px;
}

#answer-question input {
    height: 50px
}


#answer-question .form-question {
    border-radius: 5px 0 0 5px;
    border: 1px solid #f7941d;
    border-right: 0
}
#answer-question #basic-addon1{
    margin: 0px;
    background: transparent;
    border: 0px;
    padding: 0px;    
}
#answer-question .btn-answer {
width: 84px;
    float: left;
    border-radius: 0 5px 5px 0;
    background: #f7941d;
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
}

#answer-question .btn-answer:hover {
    background: #f0ca31
}

.title.title-competition {
    height: 40px;
    background: #f0c61d
}

.title.title-competition img {
    width: 25px;
    float: left;
    margin: 6px 10px 0
}

.title-competition p {
    line-height: 40px;
    color: #fff;
    font-size: 18px
}

#competition .content-competition {
    padding: 10px;
    border: 1px solid #20BCF0;
    border-top: 0
}

.content-competition p i {
    color: #1263AF;
    font-size: 12px;
    margin: 11px 12px 0 0
}

.content-competition p span a {
    color: #4b4b4b;
    font-size: 15px
}

.content-competition p span .note-exam {
    width: 75px;
    font-weight: 400;
    margin-left: 10%;
    color: red
}

.content-competition p span a:hover,
.more-competition a:hover {
    color: #f7941d
}

.more-competition {
    text-align: right
}

.more-competition a {
    color: #1263AF;
    font-weight: 600;
    font-size: 14px
}

.title-site h1 {
    font-size: 26px;
    font-weight: 700;
    text-transform: uppercase;
    color: #1263AF;
    text-align: center;
    margin: 30px 0
}

#survey-competency-assessment {
    margin-bottom: 25px;
    clear: both
}

#survey p {
    position: relative
}

p.survey-introduce {
    clear: both
}

#survey i {
    width: 35px;
    text-align: center;
    line-height: 35px;
    float: left;
    background: #1263AF;
    border-radius: 5px 0 0 5px;
    color: #fff
}

#survey select {
    height: 35px;
    border-radius: 5px;
    color: #b1b1b1;
    padding-left: 40px
}

.btn.send-servey {
    width: 150px;
    font-size: 16px;
    padding: 10px 20px!important;
    float: right;
    text-transform: uppercase;
    color: #fff!important;
    background: #1263AF
}

.btn.send-servey:hover {
    background: #f0ca31
}

td.buttuon-survey {
    width: 100%;
    text-align: right
}

.box-cometency p {
    font-size: 30px;
    color: #686868;
    padding-bottom: 0
}

a.btn.btn-download,
a.btn.btn-send {
    font-size: 26px;
    color: #fff;
    padding: 0 30px;
    margin-top: 40px;
    line-height: 50px
}

a.btn.btn-download {
    background: #0a5ea5;
    -moz-box-shadow: 0 1px 1px #5e6870;
    -webkit-box-shadow: 0 1px 1px #5e6870;
    box-shadow: 0 1px 1px #5e6870;
    margin-right: 5px
}

a.btn.btn-download:hover {
    background: #f7941d
}

a.btn.btn-send {
    background: #f1362e;
    -moz-box-shadow: 0 1px 1px #5e6870;
    -webkit-box-shadow: 0 1px 1px #5e6870;
    box-shadow: 0 1px 1px #5e6870;
    margin-left: 5px
}

a.btn.btn-send:hover {
    background: #0a5ea5
}

#assessment {
    background: #14928e;
    padding: 55px 0
}

.box-assessment {
    color: #f83c34
}

.bg-item-assessment.item-assessment {
    position: relative
}

.box-assessment .item-assessment.content-item-assessment {
    position: absolute;
    top: 0;
    padding: 10px 20px 13px 10px;
    height: 150px
}

.box-assessment .content-item-assessment img.icon-assessment {
    width: 80px;
    float: left;
    margin: 10px 10px 0 0
}

.box-assessment .content-item-assessment p.title-item {
    width: 130px;
    float: left;
    font-weight: 700;
    font-size: 28px;
    text-align: right;
    padding: 10px 0;
    color: #f83c34
}

.box-assessment .item-assessment.content-item-assessment:hover p.title-item {
    color: #F7941D
}

#members-care {
    margin-bottom: 25px
}

.box-content-care {
    border: 1px solid #e2e2e2;
    padding-top: 20px;
    min-height: 460px
}

.title-care h2 {
    margin: 0 -10px 10px -1px;
    text-align: center;
    color: #fff;
    position: relative;
    line-height: 50px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
}

.title-care h2:before {
    content: "";
    position: absolute;
    bottom: -10px;
    right: 0;
    border-style: solid;
    border-color: transparent;
    border-width: 0 0 10px 10px
}

.title-course h2 {
    background: #f7941d
}

.title-course h2:before {
    border-left-color: #cf7c18
}

.title-examination-questions h2 {
    background: #f83c34
}

.title-examination-questions h2:before {
    border-left-color: #a5221c
}

.title-care-doc h2 {
    background: #0a5ea5
}

.title-care-doc h2:before {
    border-left-color: #195384
}

.content-care {
    position: relative;
    margin-top: -10px;
    height: 290px
}

.img-bg-content-care img {
    width: 100%;
    position: relative;
    height: 270px
}

.list-content-care {
    position: absolute;
    top: 0;
    width: 100%;
    padding: 15px 15px 0;
    background: #fff;
    opacity: .9;
    min-height: 380px
}

.list-content-care p {
    width: 100%;
    display: block;
    float: left;
    margin: 1px 0;
    line-height: 24px
}

.list-content-care p i {
    width: 16px;
    height: 16px;
    float: left;
    border: 1px solid #216baa;
    border-radius: 50%;
    text-align: center;
    padding-left: 3px;
    color: #216baa;
    margin: 4px 6px 0 0
}

.list-content-care p a {
    font-size: 16px;
    color: #4b4b4b!important;
    width: 275px;
    float: left
}

.list-content-care a.read-more i {
    color: #216baa
}

.list-content-care a.read-more {
    width: auto;
    float: right;
    line-height: 20px;
    color: #4b4b4b
}

.list-content-care p a:hover,
p.read-more a:hover {
    color: #f7941d!important
}

#comment-news,
#comment-news h1,
p.read-more a {
    color: #fff
}

p.read-more {
    bottom: 15px;
    padding-right: 10px;
    float: right
}

p.read-more i {
    font-size: 14px;
    border: 0;
    margin-top: 2px
}

#comment-news {
    background: #176CB9;
    padding: 40px 0 35px
}

.title-news-comment {
    margin-bottom: 20px
}

.title-news-comment h1 {
    font-size: 16px;
    text-align: left;
    margin: 0
}

.title-news-comment hr {
    width: 67px;
    text-align: left;
    height: 3px;
    background: #f0c61d;
    margin: 5px 0;
    border: 0
}

.img-student img {
    width: 115px;
    height: 115px;
    border-radius: 50%;
    float: left
}

.name-student {
    width: 315px;
    float: left;
    padding-left: 20px;
    color: #fff;
    font-size: 16px
}

.name-student p.name {
    font-weight: 600
}

.detail-content {
    width: 100%;
    float: left
}

.detail-content i {
    color: #f0ca31;
    font-size: 30px;
    float: left
}

.detail-content p {
    overflow: hidden;
    padding: 10px 0 0 10px;
    font-size: 14px;
    color: #fff
}

.box-activity .user-activity {
    width: 100%;
    float: left;
    margin-bottom: 6px
}

.box-activity .img-user-activity img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    float: left
}

.content-activity {
    width: 295px;
    padding-left: 20px;
    float: left;
    font-size: 14px;
    line-height: 19px;
}

.content-activity p {
    margin: 0;
    display: inline-block
}

.content-activity a {
    color: #fff;
    font-weight: 500
}

.content-activity a.name-user {
    color: #f0ca31
}

.content-activity .activity a {
    color: #fff
}

.content-activity .activity a:hover {
    color: #e2e2e2
}

.box-activity .read-more {
    margin-top: 22px
}

.table-ranking table tr th {
    font-size: 18px;
    color: #fff;
    padding-bottom: 18px
}

.table-ranking table tr th:first-child {
    width: 50px
}

.table-ranking table tr th:nth-child(2) {
    width: 177px
}

.table-ranking table tbody tr td {
    padding: 0
}

.table-ranking table tbody tr td:nth-child(2) a .name-user-rank {
    margin: 0!important;
    font-size: 16px;
    font-weight: 500;
    color: #f0ca31
}

.table-ranking table tbody tr td:nth-child(2) .level {
    color: #f0f0f0;
    font-size: 14px
}

.table-ranking table tbody tr td:nth-child(3) {
    font-size: 16px;
    font-weight: 700;
    color: #fff
}

.table-hover>tbody>tr:hover {
    background: 0 0
}

.table-ranking table {
    margin-bottom: 6px
}

.read-more {
    color: #fff
}

#banner-footer,
#banner-footer img {
    width: 100%
}

footer {
    background: #fafafa;
    border-top: 3px solid #0c78da;
    padding: 5px 0;
}

#footer-1 {
    margin-bottom: 40px
}

h1.title-footer {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 23px;
    color: #191919;
    text-transform: uppercase;
}

.support-footer .icon-support {
    width: 37px;
    line-height: 37px;
    background: #fff;
    text-align: center;
    color: #282a2b;
    font-size: 28px;
    border-radius: 5px;
    float: left
}

.content-footer p,
.content-footer p a {
    font-size: 14px;
    color: #191919
}

.support-footer .supports {
    width: 310px;
    float: left;
    padding-left: 30px
}

.supports p {
    margin-bottom: 14px
}

.about-footer p,
.service-footer p {
    margin-bottom: 23px
}

.fb-page {
    width: 100%;
    margin-bottom: 15px
}

.connect-online {
    margin-top: 10px
}

.connect-online p {
    display: inline-block;
    width: 30px;
    line-height: 30px;
    border: 1px solid #fff;
    text-align: center;
    border-radius: 50%;
    margin-right: 10px
}

#footer-2 {
    clear: both;
    color: #919496;
    font-size: 12px
}

#footer-2 p {
    margin-bottom: 8px
}

#banner-answer .owl-buttons {
    position: absolute;
    top: 41%;
    z-index: 99;
    text-align: left;
    width: 100%;
    display: none
}

#register-fb-gg,
#register-free,
.register-method,
h1#title-register {
    text-align: center
}

#banner-answer .owl-next {
    float: right
}

#banner-top:hover .owl-buttons {
    display: block
}

#banner-answer .owl-pagination {
    position: absolute;
    width: 100%;
    bottom: 10px
}

#banner-answer .owl-theme .owl-controls .owl-page span {
    background: #fff
}

#banner-answer .owl-theme .owl-controls .owl-page.active span,
#banner-answer .owl-theme .owl-controls.clickable .owl-page:hover span,
#comment-about-me .owl-theme .owl-controls .owl-page span {
    background: #f0ca31
}

#comment-about-me .owl-controls.clickable {
    margin-top: 28px
}

#comment-about-me .owl-theme .owl-controls .owl-page.active span,
#comment-about-me .owl-theme .owl-controls.clickable .owl-page:hover span {
    background: #fff
}

#register {
    padding: 20px 0
}

h1#title-register {
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    width: 100%;
    letter-spacing: 1px;
    color: #555
}

.register-method {
    display: block;
    border-bottom: 1px dashed #f0f0f0;
    width: 100%;
    max-width: 900px;
    margin: 20px auto;
    height: 15px
}

label.title-page.title-site.title-register {
    display: inline-block;
    padding: 0 20px;
    text-align: center;
    font-size: 20px;
    margin-bottom: -4px;
    background: #fff;
    color: #555;
    letter-spacing: .5px
}

#login-fb a:hover,
#login-fb i,
#register-fb-gg a:hover,
#register-fb-gg i {
    background: #364F88
}

#register-free .form-group {
    padding: 10px 0
}

#login-fb a,
#register-fb-gg a {
    border: 0;
    width: 200px;
    height: 50px;
    font-size: 20px;
    display: inline-block;
    text-align: left;
    margin: 10px;
    background: #3a5999;
    font-weight: 700;
    background-size: auto 100%
}

#register-fb-gg i {
    font-size: 35px;
    padding: 0 15px;
    line-height: 50px;
    color: #fff;
    float: left
}

#register-fb-gg a span {
    color: #fff;
    line-height: 50px;
    font-size: 20px;
    letter-spacing: 1px;
    padding-left: 25px
}

#register-fb-gg a:hover i {
    border-right: 1px solid #2F4678
}

#register-free input {
    border: 1px solid #f0f0f0;
    height: 40px;
    border-radius: 0;
    font-size: 18px;
    box-shadow: none
}

.container-reg {
    margin: 0 auto
}

#captcha {
    width: 100%!important
}

.input-captcha {
    padding: 0
}

.img-captcha {
    text-align: left
}

button.btn.btn-register {
    width: 210px;
    height: 40px;
    background: #f07c20;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    border: 0;
    margin-top: 20px
}

.btn-register:hover {
    background: #fad7bc!important;
    border: 1px solid #f07c20!important;
    color: #f07c20!important
}

hr.left-oriented {
    text-align: left;
    width: 100%;
    clear: both;
    height: 1px;
    margin-top: 60px
}

#login,
#title-login h2 {
    text-align: center
}

#provision {
    width: 15px!important;
    height: 15px!important;
    display: inline-block;
    float: left
}

span.info-provision {
    font-size: 14px;
    line-height: 25px;
    float: left;
    margin-left: 10px;
    color: #4b4b4b
}

.validation-alert {
    padding: 5px;
    margin-bottom: 5px
}

#register-free a.btn.btn-close {
    width: 150px;
    height: 40px;
    background: #FA0302;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    border: 0;
    margin: 20px 0 0 10px
}

.info-provision a {
    text-decoration: underline;
    color: #4b4b4b
}

.overlay {
    background: #000;
    width: 100%;
    height: 100%;
    z-index: 999;
    position: fixed;
    top: 0;
    opacity: .9
}

#wrap-login {
    width: 415px;
    z-index: 999999;
    position: fixed;
    top: 20%;
    left: 35%;
    background: #fff;
    padding: 0
}

.close-login,
span.arrow-down {
    position: absolute;
    cursor: pointer
}

#title-login {
    background: #1263af;
    padding: 10px 0;
    height: 45px;
    color: #fff
}

#title-login h2 {
    margin: 0;
    font-size: 22px;
    letter-spacing: 1px;
    line-height: 25px
}

.close-login {
    top: 12px;
    right: 11px;
    font-size: 15px;
}

span.arrow-down {
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    margin-left: -20px;
    z-index: 100;
    margin-top: 0;
    border-top: 12px solid #1263AF
}

.content-login {
    clear: both
}

.content-login form label {
    float: left;
    text-align: right;
    padding: 5px 10px;
    font-weight: 400;
    font-size: 15px;
    color: #6f6f6f;
    margin: 2px 0
}

.content-login form .input-password,
.content-login form .input-username {
    box-shadow: none;
    border-radius: 0;
    padding: 5px 10px;
    width: 80%;
    margin: 0px auto;
    border: 1px solid #f0f0f0;
}

.content-login input.btn.btn-login {
    background: #EF0D4E;
    color: #fff;
    font-size: 15px;
    padding: 0 15px;
    text-transform: uppercase;
    border-radius: 0;
    line-height: 30px
}

.content-login input.btn-login:hover {
    background: #fad7bc!important;
    border: 1px solid #f07c20!important;
    color: #f07c20!important
}

.content-login .about-pass {
    font-size: 14px;
    text-align: left;
    padding: 10px;
    text-align: center;
    color: #6f6f6f
}

#link-register {
    text-align: center;
    clear: both;
    font-size: 14px!important
}

#link-register a,
#link-register span {
    color: #6f6f6f
}

#link-register a:hover {
    color: #F7941D
}

#link-register,
#login-fb {
    margin-bottom: 8px;
}

.errorLogin {
    line-height: 25px;
    margin: 5px 0 5px 5px;
    font-size: 14px
}

#login-fb a {
    width: 200px!important;
    height: 35px!important;
    text-align: left
}

#login-fb a span,
#login-fb i {
    line-height: 35px!important
}

#login-fb i {
    font-size: 20px;
    padding: 0 15px;
    float: left;
    color: #fff
}

#login-fb a span {
    color: #fff;
    padding-left: 15px
}

#login-fb a:hover i {
    border-right: 1px solid #2f4678
}

#login-normal p {
    text-align: center;
    text-transform: uppercase;
    color: #4b4b4b
}

.form-login {
    width: 100%;
    margin: 5px 0
}

#menu-top>ul>li>a i {
    font-size: 18px!important
}

#breadcrumb {
    width: 100%
}

#breadcrumb ul {
    width: 100%;
    padding-left: 0px;
    margin-bottom: 0px;
}

#breadcrumb ul li,
#breadcrumb ul li a,
#breadcrumb ul span i {
    display: inline-block;
    color: #4b4b4b;
    font-size: 14px
}

#breadcrumb ul li {
    padding: 10px 8px
}

#breadcrumb ul li a i {
    margin-right: 8px;
    color: #666;
    font-size: 16px
}

#breadcrumb ul span i {
    font-size: 10px
}

.news-items .news-post {
    clear: both;
    width: 100%;
    margin: 0 0 26px;
    display: table;
}

.news-items .outstanding {
    margin-bottom: 35px;
}

.img-news img {
    width: 100%;
    height: 100%
}

.img-news {
    width: 200px;
    height: 135px;
    float: left;
    margin-right: 25px
}

.outstanding .img-news {
    width: 100%;
    height: 320px;
    overflow: hidden;
    margin-bottom: 20px
}

.news-items .news-post h2 {
    font-size: 16px;
    font-weight: 700;
    margin: 0 0 25px
}

.news-items .news-post h2 a {
    color: #4b4b4b
}

.news-post:hover h2.title-post-news a {
    color: #1263AF
}

.content-news-list {
    font-size: 14px;
    color: grey;
    width: 410px;
    float: left
}

.outstanding .content-news-list {
    width: 100%
}

h1.title-sidebar-news {
    font-size: 18px;
    font-weight: 700;
    color: #4b4b4b;
    margin: 0 0 36px
}

.post-sidebar {
    width: 100%;
    clear: both;
    margin-bottom: 20px;
    overflow: hidden;
}

.post-sidebar:hover h2 a {
    color: #1263AF
}

.img-sidebar-news {
    width: 166px;
    height: 98px;
    overflow: hidden;
    margin-right: 30px;
    float: left
}

.img-sidebar-news img {
    width: 100%;
    height: 100%
}

.list-post-sidebar .info {
    width: 249px;
    float: left
}

h2.title-news-sidebar {
    font-size: 16px;
    margin: 0 0 5px;
    width: 100%
}

h2.title-news-sidebar a {
    color: #4b4b4b;
    font-weight: 600
}

.list-news-sidebar {
    height: 100%;
    float: left
}

.list-post-sidebar .info p {
    color: grey;
    font-size: 14px;
    overflow: hidden
}

.sidebar-news .banner-sidebar-news {
    clear: both;
    width: 100%;
    height: 330px
}

.sidebar-news .enrollment {
    margin-bottom: 10px
}

.banner-sidebar-news img {
    width: 100%;
}

.pagination ul li a {
    padding: 5px 10px;
    line-height: 25px;
    color: #4b4b4b;
    font-weight: 700;
    background: #f0f0f0;
    margin: 2px
}

.pagination ul li a:focus,
.pagination ul li a:hover,
.pagination ul li.active a {
    background: #EF0D4E;
    color: #fff
}

.pagination {
    width: 100%;
    text-align: center
}

.pagination ul li {
    display: inline-block
}

.news-detail .tags-list {
    margin: 30px 0 0;
    font-size: 16px;
    font-weight: 700;
    color: #4b4b4b
}

.news-detail .tags-list a {
    background: #F7941D;
    margin: 0 3px;
    padding: 3px 10px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    border-radius: 3px
}

.news-detail .tags-list a:hover {
    background: #D07202
}

#relate-news-cat .post-relate .post-sidebar {
    min-height: 20px;
    margin: 0 0 5px;
    line-height: 20px
}

#relate-news-cat .post-sidebar h2 {
    width: auto!important;
    float: left;
    margin-right: 10px;
    line-height: 20px
}

#relate-news-cat .post-sidebar h2 a {
    font-weight: 500
}

#relate-news-cat .post-relate .post-sidebar h2 i {
    font-size: 12px;
    color: red;
    margin-right: 5px
}

#relate-news-cat .post-relate .post-sidebar span {
    font-size: 13px;
    color: grey
}

.title-news-relate {
    margin-bottom: 15px!important
}

.excerpt-post p {
    font-size: 14px;
    color: #888
}

h1.title-news-detail {
    font-size: 20px;
    font-weight: 500
}

.date-push-news {
    font-size: 13px;
    color: #727272
}

.share-online {
    margin: 20px 0 35px
}

.content-detail p {
    font-size: 15px
}

.relate-article.relate-news {
    border-top: 1px solid #d8d8d8;
    margin: 40px 0 0;
    padding: 10px 0 0
}

.excerpt-post {
    width: 439px;
    float: left
}

.excerpt-post h2,
.excerpt-post p {
    width: 100%
}

div#___plusone_0 iframe {
    margin: 0 0 -6px 5px!important
}

#article-module {
    margin-bottom: 40px
}

#document-module {
    padding-bottom: 20px
}

#document-module .box-heading {
    margin: 0;
    background-color: #f7941d;
    height: 35px
}

#document-module .box-heading h1 {
    display: inline;
    color: #FFF;
    font-weight: 700;
    font-size: 20px;
    line-height: 35px;
    padding: 0 15px
}

#document-module .box-heading .dropdownlistexamination {
    width: 240px;
    height: 32px;
    float: right;
    border: none;
    border-radius: initial;
    margin: 4px 8px 0 0;
    display: inline
}

.box-heading .dropdownlistexamination form select {
    width: 48%;
    display: inline-block;
    height: 28px;
    padding-top: 3px;
    padding-bottom: 3px;
    border: 0
}

.box-heading .dropdownlistexamination .textspan {
    color: #757575;
    float: left
}

#document-module .box-heading .dropdownlistexamination .caret {
    color: #757575;
    float: right;
    margin: 6px 0 0
}

#document-module .dropdownlistexamination ul li a {
    color: #757575
}

#document-module .box-item {
    border: 1px solid #dfdfdf;
    border-top: none
}

#document-module .box-item a.bullet {
    display: block;
    height: 73px;
    width: 81px;
    float: left;
    background-color: #0a5ea5;
    margin: 15px 0 0 15px
}

#document-module .box-item a.bullet span {
    display: block;
    font-weight: 700;
    text-align: center
}

#document-module .box-item a.bullet span.sp-text {
    color: #fff;
    font-size: 20px;
    padding-top: 15px;
    line-height: 10px
}

#document-module .box-item a.bullet span.sp-number {
    color: #fff;
    font-size: 35px;
    text-align: center
}

#document-module .box-item h2 {
    margin: 0;
    color: #686868;
    font-size: 18px;
    font-weight: 500;
    padding: 10px 15px
}

#document-module .box-item h2 i {
    color: red;
    padding-right: 15px
}

#document-module .box-item h2 a {
    color: #4b4b4b;
    font-size: 16px;
    font-weight: 500
}

#document-module .pagination {
    text-align: center;
    padding: 20px;
    margin: 0
}

.module .list-txt h1 {
    background-color: #f1362e;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    line-height: 35px;
    margin-top: 0;
    margin-bottom: 0
}

.module .list-txt h1 .list {
    padding-right: 10px
}

.module .list-txt ul {
    margin: 0;
    padding: 0 15px 30px;
    border: 1px solid #dfdfdf;
    border-top: 0 solid #fff
}

.module .list-txt ul li a {
    font-size: 15px;
    font-weight: 500;
    color: #4b4b4b;
    line-height: 26px
}

.exam-course-item a{
    font-weight: 700!important;
}
.exam-course-item.child a{
    font-weight: 500!important;
}

.module .list-txt ul li .arrow {
    padding-right: 0px
}

#courses-module .banner,
#document-module .banner {}

#courses-module .banner img,
#document-module .banner img {
    max-width: 100%
}

#document-detail .detail-top .box-heading h1 {
    font-weight: 700;
    margin: 0;
    line-height: 50px;
    background: #860017;
    color: #fff;
    font-size: 24px;
    padding: 0 0 0 20px
}

#document-detail .detail-top .box-content {
    border: 1px solid #dedede;
    border-top: none;
    background-color: #fbfbfb;
    position: relative
}

#document-detail .detail-top .box-content .item {
    width: 90%;
    height: 600px;
    box-shadow: 0 3px 17px -5px rgba(0, 0, 0, .75);
    margin: 0px auto 30px auto;
}

#document-detail .detail-bottom ul {
    margin: 0;
    padding: 0;
    float: left
}

#document-detail .detail-bottom ul li {
    display: inline-block;
    padding: 0 5px;
    border-right: 1px solid #686868;
    color: #686868;
    font-weight: 500;
    font-size: 14px;
    line-height: 1em
}

#document-detail .detail-bottom ul li:last-child {
    border-right: none
}

#document-detail .detail-bottom .btn {
    margin-left: 20px;
    background-color: #1263AF;
    border: 0;
    font-size: 16px;
    font-weight: 700;
    padding: 0 20px;
    line-height: 40px
}

#document-detail .detail-bottom .btn:hover {
    background: #0ebebc
}

#member .user .box-heading {
    background-color: #0a5ea5;
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    padding: 15px
}

#member .user .txt {
    color: #4b4b4b;
    font-weight: 700;
    font-size: 16px;
    margin: 25px 0 20px 15px
}

#member .user .link {
    color: #6d6d6d;
    font-weight: 500;
    font-size: 16px;
    padding-left: 15px
}

#member .user .link a {
    color: #6d6d6d
}

#member .user .link a:hover {
    color: #477ab3
}

#member.user .link img {
    padding-right: 10px
}

#document-detail .detail-bottom {
    text-align: center;
    line-height: 60px;
    border: 1px solid #dcdcdc;
    background: #EBEBEB
}

.exam-detail-heading {
    background-color: #1263AF;
    color: #fff
}

.exam-detail-heading .count-down {
    position: fixed;
    top: 60px;
    left: 10px;
    height: 50px;
    width: 150px;
    border: 2px solid #fb9700;
    border-radius: 10px;
    padding: 5px;
    background-color: #f0ca31;
    z-index: 9
}

.exam-detail-heading .navbar-nav li a {
    color: #fff;
    font-size: 15px;
    padding-left: 7px;
    padding-right: 7px
}

.exam-detail-heading .navbar-nav li.active>a,
.exam-detail-heading ul.navbar-nav li:hover a {
    background: #f0ca31
}

.exam-detail-heading .count-down img {
    height: 100%
}

.exam-detail-heading .count-down span {
    padding-left: 5px;
    font-size: 16px;
    font-weight: 700
}

.exam-detail-content {
    font-size: 15px
}

.exam-detail-content #exam-heading {
    text-align: center
}

.exam-detail-content #exam-heading h1 {
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: .3px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700
}

.exam-detail-content #exam-heading p {
    font-size: 16px;
    font-style: italic
}

.exam-detail-content #exam-heading p.course {
    font-weight: 700
}

.exam-detail-content #exam-heading p>span {
    font-style: normal;
    text-transform: uppercase
}

.exam-detail-content #exam-heading hr {
    width: 200px;
    border-color: #333;
    border-width: 2px
}

.exam-detail-content #practice-heading {
    padding: 20px;
    color: #4b4b4b
}

.exam-detail-content #practice-heading h1 {
    font-size: 26px;
    line-height: 1.5em;
    letter-spacing: .3px;
    text-transform: uppercase;
    font-weight: 700
}

.exam-detail-content #practice-heading p {
    border-bottom: 1px solid #f2f2f2
}

.exam-detail-content #practice-heading p>span {
    font-weight: 700
}

.exam-detail-content #practice-heading p.desc {
    border: none;
    padding: 15px 0 0
}

#comment-box,
#comment-box h2.heading {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px
}

.exam-detail-content .box-content {
    border-radius: 5px;
    padding: 0px;
}

.exam-detail-content .box-content h2.heading,
.exam-detail-content .practice-sidebar .practice-filter h2 {
    margin: 0;
    font-size: 22px;
    font-weight: 700;
    color: #4b4b4b
}

.exam-detail-content .box-item {
    border-bottom: 1px dotted #ccc;
    font-size: 16px;
    letter-spacing: .2px;
    margin-bottom: 20px;
    padding: 10px
}

.exam-detail-content .box-item .question {
    padding-bottom: 15px
}

.exam-detail-content .box-item strong span {
    font-weight: 400
}

.exam-detail-content .box-item .question strong+p,
.exam-detail-content .box-item .radio label strong+p {
    display: inline-block;
    padding-left: 5px
}

.exam-detail-content .box-item .radio label strong+ol,
.exam-detail-content .box-item .radio label strong+ul {
    margin: -23px 0 10px;
    padding-left: 40px
}

.exam-detail-content .box-item .radio.answer-true {
    background-color: #73f934
}

.exam-detail-content .box-meta {
    padding: 20px 0;
    overflow: hidden
}

.exam-detail-content .box-meta a {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: .3px;
    padding: 0 10px;
    color: #1263AF
}

.exam-detail-content .box-meta a:hover {
    color: #036d6f
}

.exam-detail-content .box-bottom {
    clear: both;
    text-align: center;
    margin-bottom: 50px
}

.exam-detail-content .box-item .save-message {
    font-size: 14px;
    color: #666;
    font-style: italic;
    text-align: right
}

.exam-detail-content .practice-sidebar {
    padding-top: 20px;
    padding-bottom: 20px
}

.exam-detail-content .practice-filter div.radio {
    padding: 2px 15px
}

.exam-detail-content .practice-filter h4 {
    font-size: 16px
}

.exam-detail-content .fb-comments {
    padding: 20px 0
}

#comment-box {
    padding: 0;
    position: fixed;
    right: 10px;
    bottom: 0;
    background: #f0f8ff;
    max-height: 80%;
    overflow-y: scroll;
    overflow-x: hidden
}

#comment-box h2.heading {
    font-size: 16px;
    font-weight: 700;
    display: block;
    background-color: #74bcfb;
    padding: 5px 20px;
    margin: 0;
    color: #fff;
    cursor: pointer
}

#comment-box h2.collapsed::after,
#comment-box h2::after {
    margin-left: 5px;
    font-family: FontAwesome
}

#comment-box h2::after {
    content: "\f078"
}

#comment-box h2.collapsed::after {
    content: "\f077"
}

#comment-box #comments {
    padding: 0 10px
}

.exam-detail-content .box-item .collapse.in {
    padding-bottom: 20px
}

.exam-detail-content .box-item #fileCollapse {
    padding: 5px 8px 0 10px;
    border: 1px solid #00abf1;
    border-left-width: 3px;
    margin-bottom: 20px
}

.exam-detail-content .box-item #videoCollapse {
    padding: 5px 8px 0 10px;
    border: 1px solid #fb9700;
    border-left-width: 3px;
    margin-bottom: 20px
}

.exam-detail-content .box-item.answer-right {
    background-color: rgba(83, 180, 37, .05);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .05)
}

.exam-detail-content .box-result {
    display: table;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 3px;
    background-color: #f1f1f1;
    color: #4b4b4b;
    font-size: 18px
}

.exam-detail-content .box-result span.mes-result {

}

.exam-detail-content .box-result a {
    margin: 0 10px;
    letter-spacing: .3px;
    font-weight: 700;
    border: none;
    box-shadow: none;
    background-color: #78d7f6;
    color: #fff
}

.exam-detail-content .box-result a#reset-page {
    background-color: #ff8a3c;
    color: #fff
}

.exam-detail-content .box-item.answer-right .right {
    color: #3bb203;
    font-size: 20px;
    font-weight: 700;
    padding: 2px 6px;
    border: 1px solid;
    border-radius: 3px
}

.exam-detail-content .box-item.answer-wrong .wrong {
    color: #be0316;
    font-size: 20px;
    font-weight: 700;
    padding: 2px 6px;
    border: 1px solid;
    border-radius: 3px
}

#practice-module .box-item {
    padding: 10px;
    margin: 15px 0;
    border-bottom: 1px dotted #f2f2f2;
    display: table;
    width: 100%
}

#practice-module .box-item i.bullet {
    font-size: 20px;
    margin: 5px 0 0
}

#practice-module .box-item i.bullet.unlock {
    color: #53b425
}

#practice-module .box-item i.bullet.lock {
    color: #d9534f
}

#practice-module .box-item .content {
    display: inline-block;
    max-width: 80%;
    padding: 0 15px
}

#practice-module .box-item .content h1 {
    margin: 0;
    font-size: 18px
}

#practice-module .box-item .content h1 a,
#practice-module .coming-exam .box-item .content h1 {
    font-size: 18px;
    font-weight: 500;
    color: #4b4b4b
}

#practice-module .box-item .content h1 a:hover {
    color: #02787a
}

#practice-module .box-item .content p {
    font-size: 13px;
    color: #4b4b4b;
    transition: all .2s
}

#practice-module .box-item .content p a {
    font-size: 13px;
    color: #f77207;
    transition: all .2s
}

#practice-module .box-item .content p a:hover {
    color: #f0ca31
}

#practice-module .box-item .content span {
    padding-right: 10px;
    color: #666
}

#practice-module .box-item .btn-start {
    margin: 10px 20px 0 0
}

#practice-module .box-item .btn-start:hover {
    border-color: #059cce
}

#practice-module .box-heading {
    padding: 10px;
    margin: 10px 0;
    background-color: #b5e79e;
    border-radius: 2px
}

#practice-module .box-heading select {
    max-width: 200px;
    color: #666;
    cursor: pointer;
    border: none
}

#practice-module .box-heading select:focus {
    outline: 0;
    border: 1px solid #fb9700;
    color: #666
}

#practice-module .box-heading label {
    color: #666;
    padding: 0 10px;
    font-size: 14px;
    font-weight: 700
}

#practice-module .box-heading button {
    margin-left: 20px;
    padding: 6px 22px
}

#practice-module .box-filter {
    margin-bottom: 20px;
    border: 1px solid #d5d5d5;
    padding: 10px;
    border-radius: 5px;
    background: #e3e3e3;
    margin-top: 20px;
}

#practice-module .box-filter label {
    color: #4b4b4b
}

#practice-module .box-filter select {
    border-color: #fff;
    box-shadow: none;
    outline: 0;
    color: #4b4b4b;
    cursor: pointer
}

#practice-module .box-filter button[type=submit] {
    font-weight: 700;
    color: #fff;
    padding: 7px 20px;
    font-size: 13px;
}

#practice-module .coming-exam,
#practice-module .current-exam {
    border: 1px solid #f0f0f0;
    margin: 20px 0 30px;
    border-radius: 3px
}

#practice-module .coming-exam>h1,
#practice-module .current-exam>h1,
#practice-module .finished-exam>h1 {
    padding: 0 15px 10px;
    font-size: 16px;
    color: #be0316;
    border-bottom: 1px solid #f0f0f0;
    font-weight: 700;
    text-shadow: .5px 1px 1px rgba(0, 0, 0, .1)
}

#practice-module .coming-exam .box-item:last-child,
#practice-module .current-exam .box-item:last-child {
    border-bottom: none
}

#practice-module .current-exam .box-item .content,
#practice-module .finished-exam .box-item .content {
    max-width: 70%
}

#practice-module .coming-exam .box-item .time-line,
#practice-module .current-exam .box-item .time-line,
#practice-module .finished-exam .box-item .time-line {
    line-height: 1.2em;
    font-size: 14px;
    color: #be0316;
    font-weight: 700;
    text-shadow: .5px 1px 1px rgba(0, 0, 0, .3);
    text-align: center
}

#practice-module .coming-exam>h1 {
    color: #fb9700
}

#practice-module .finished-exam .box-item .time-line {
    color: #666;
    text-shadow: none;
    font-style: normal;
    font-weight: 500
}

#practice-module .coming-exam .box-item .time-line i,
#practice-module .finished-exam .box-item .time-line i {
    display: block;
    color: #666;
    text-shadow: none;
    font-style: normal
}

#practice-module .finished-exam .box-content {
    color: #666
}

#practice-module .finished-exam>h1 {
    border: none;
    color: #666;
    text-shadow: none;
    padding: 0
}

#list-courses h1.title-page {
    color: #4b4b4b;
    font-size: 28px;
    padding: 0 0 0 15px
}

#list-courses h1.title-page i {
    color: #f0ca31
}

#list-courses.list-item .item {
    margin: 10px 0
}

#list-courses.list-item .item .img-thumbnail {
    width: 100%;
    border: none;
    padding: 0
}

.description-course .head-content .img img,
.list-item .item .img-thumbnail img {
    width: 100%;
    height: 100%;
    border: 1px solid #f0f0f0;
}

#list-courses.list-item .item .info {
    width: 100%;    
}

.list-item .item .info h2 {
    margin: 0 0 10px;
    font-size: 13px;
    font-weight: 700;
    color: #0A5EA5;
    text-transform: uppercase;
}

.list-item .item .info h2 a {
    color: #4b4b4b
}

.list-item .item:hover .info h2 a {
    color: #1263AF
}

.list-item .item .info p {
    font-size: 15px;    
}

.list-item .item .info .info-relate {
    width: 100%;
    line-height: 15px;
    font-size: 15px
}

.list-item .item .info .info-relate span {
    font-size: 14px;
    margin-right: 5px
}

#list-courses .info .teacher a,
#list-courses .item .info .info-relate .relate-detail {
    font-weight: 500;
    color: #666
}

.info-relate p a {
    line-height: 25px;
    position: absolute;
    right: 16px;
    bottom: 15px;
    background: #F0CA31;
    color: #fff;
    padding: 0 10px
}

.info-relate p a:hover {
    background: rgba(240, 202, 49, .71);
    border: 1px solid #f0ca31
}

#detail-courses {
    margin-bottom: 15px
}

#detail-courses .topical-lesson h1,
#detail-courses h1.title {
    font-size: 14px;
    color: #ec0750;
    font-weight: 700;
    padding: 0 15px;
    display: block;
    line-height: 40px;
    text-transform: uppercase;
    background: #fafafa;
    border-radius: 2px;
    margin-top: 0;
    margin-bottom: 0px;
}

.description-course .head-content .info-course h2 {
    font-size: 20px;
    font-weight: 700;
    color: #4b4b4b;
    margin: 0 0 15px
}

.description-course .head-content .info-course .info-detail p {
    font-size: 14px;
    border-bottom: 1px dashed #f0f0f0;
    color: #4b4b4b;
    margin: 0;
    line-height: 31px;
}

.head-content .info-course .info-detail p:last-child {
    border: 0
}

.description-course .head-content .info-course .info-detail p label {
    font-weight: 400;
    width: 25%;
    margin: 0
}

.description-course .head-content .info-course .info-detail p.study-free {
    margin: 15px 0
}

.description-course .head-content .info-course .info-detail p.study-free a,
.description-course .head-content .info-course .info-detail p.study-price a {
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    transition: all .2s
}

.description-course .head-content .info-course .info-detail p.study-price a {
    background: red;
    margin: 15px 0
}

.description-course .head-content .info-course .info-detail p.study-price a:hover {
    background-color: #fcaf0a
}

.description-course .head-content .info-course .info-detail p.study-free a {
    background: #179213
}

.description-course .head-content .info-course .info-detail p.study-free a:hover {
    color: #f0ca31
}

.description-course .head-content .info-course .info-detail p.study-free a i {
    font-style: 16px;
    margin-right: 10px
}

.description-course .content-course p {
    font-size: 15px;
    letter-spacing: .1px
}

.description-course .head-content .info-course .info-detail p span {
    font-weight: 700
}

.description-course .content-course,
.topical-lesson .list-topical-lesson .item {
    width: 100%;
    clear: both;
    padding: 0 12px
}

.topical-lesson .list-topical-lesson .item {
    border-bottom: 1px dashed #f1f1f1;
    padding: 10px;
}
.topical-lesson .list-topical-lesson .item span.stt{
    font-weight: 700;
    color:#EF0D4E;
    padding-right: 6px;
}

.topical-lesson .list-topical-lesson .item h3 {
    margin: 0px;
    font-size: 14px;
    font-weight: 400;
}

.topical-lesson .list-topical-lesson .item h3 a {
    color: #4b4b4b
}

.topical-lesson .list-topical-lesson .item h3 a:hover {
    color: #027e81
}

.topical-lesson .list-topical-lesson .item .info {
    width: 100%
}

.topical-lesson .list-topical-lesson .item .info span {
    width: 160px;
    line-height: 40px
}

.topical-lesson .list-topical-lesson .item .info span.document-lesson i {
    color: red
}

#practice-module #ranking {
    border-radius: 3px;
    display: table;
    width: 100%
}

#user-module {
    padding: 0
}

#user-module h1,
#user-module h2,
#user-module h3 {
    margin: 0
}

#user-module #change-pass h1,
#user-module #detail h1,
#user-module #forgot-pass h1,
#user-module #list-action h1,
#user-module #list-lessons h1,
#user-module #list-result h1,
#user-module #update-info h1,
#user-module .sidebar h2 {
    line-height: 35px;
    font-size: 18px;
    text-align: left;
    padding-left: 20px;
    width: 100%;
    color: #fff
}

#user-module .sidebar h2 {
    background: #1263AF
}

#user-module #change-pass h1,
#user-module #detail h1,
#user-module #forgot-pass h1,
#user-module #list-action h1,
#user-module #list-lessons h1,
#user-module #list-result h1,
#user-module #update-info h1 {
    background: #f1f1f1;
    color: #4b4b4b;
    border: 1px solid #f0f0f0;
}

#user-module .sidebar .menu-user {
    width: 100%;
    padding: 15px;
    border: 1px solid #f0f0f0
}

#user-module .sidebar h3 {
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    color: #4b4b4b
}

#user-module .sidebar li i {
    color: #1263AF;
    margin-right: 5px
}

#user-module .sidebar li a {
    font-size: 16px;
    color: #636363;
    line-height: 25px
}

#user-module .sidebar li a:hover {
    color: #F0CA31
}

#user-module .sidebar .list-item {
    margin-bottom: 15px
}

#user-module #change-pass .form-info,
#user-module #detail .form-info,
#user-module .sidebar .menu-user {
    border-top: 0
}

#user-module #change-pass .form-info,
#user-module #detail .form-info {
    padding: 5px 0 20px
}

#user-module #detail form {
    padding: 8px 25px
}

#user-module #detail label {
    font-weight: 700;
    font-size: 16px;
    color: #4b4b4b;
    float: left;
    text-align: left;
    line-height: 33px
}

#user-module #change-pass label,
#user-module #detail form .info,
#user-module #detail label {
    padding: 0
}

#user-module #detail input {
    border: 0;
    color: #4b4b4b;
    border-radius: 0;
    border-bottom: 1px dashed #f1f1f1
}

#user-module #detail .info-money,
#user-module #detail .info-username {
    line-height: 33px;
    border-bottom: 1px dashed #f1f1f1;
    padding-left: 10px!important
}

#user-module #detail .info-username {
    color: #4b4b4b;
    font-size: 16px
}

#user-module #detail .info-money {
    color: red;
    font-size: 18px
}

#user-module #detail input:focus {
    border-bottom: 1px solid #F0CA31
}

#user-module #change-pass .form-group,
#user-module #detail .form-group {
    line-height: 30px;
    width: 100%;
    clear: both;
    margin: 2px 0
}

#user-module #change-pass .btn-user,
#user-module #detail .btn-user {
    margin-top: 20px
}

#user-module #change-pass .btn-user,
#user-module #detail .btn-user,
#user-module #forgot-pass .btn-user {
    font-size: 16px;
    background: #1263AF;
    color: #fff
}

#user-module #change-pass .btn-user:hover,
#user-module #detail .btn-user:hover,
#user-module #forgot-pass .btn-user:hover {
    background: #0ebebc
}


#user-module #change-pass .form-info,
#user-module #forgot-pass .form-info {
    padding: 15px 30px
}

#user-module #change-pass label {
    font-weight: 700;
    font-size: 16px;
    color: #4b4b4b;
    float: left;
    text-align: left;
    line-height: 35px
}

#user-module #forgot-pass .form-info {
    border: 1px solid #d0d0d0;
    border-top: 0;
    min-height: 150px
}

.course-bought .item,
.lesson-viewed .item {
    display: table;
    border-bottom: 1px dashed #f1f1f1
}

#user-module #forgot-pass .form-info p {
    font-size: 16px;
    color: #4b4b4b
}

#user-module #list-lessons table thead {
    background: #21b1b4
}

#user-module #list-lessons table thead tr th {
    color: #fff;
    font-size: 12px
}

#user-module #list-lessons .info,
#user-module .action-acc .list-item,
#user-module .lesson-view .list-item,
#user-module.user-lesson .sidebar .menu-user {
    height: auto
}

#user-module #list-lessons .info table tbody td {
    font-size: 14px;
    line-height: 18px
}

#user-module #list-lessons .info table tbody td a,
#user-module #list-lessons .info table tbody td a i {
    color: #4b4b4b
}

#user-module #list-lessons .info table tbody td a i:hover,
#user-module #list-lessons .info table td.name-qestion a:hover {
    color: #F0CA31
}

#user-module #list-lessons .info table tbody td a i {
    padding: 0 5px;
    cursor: pointer
}

.course-bought .list-item {
    padding: 15px
}

.course-bought .item {
    width: 100%;
    padding: 10px 0
}

.course-bought .item:hover .number-bullet {
    background: #f2d14b
}

.course-bought .item .number-bullet {
    display: table;
    width: 40px;
    height: 40px;
    background: #21b1b4;
    float: left;
    margin: 5px 10px;
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    border-radius: 3px;
    transition: all .3s
}

.course-bought .item .content {
    float: left;
    max-width: 70%
}

.course-bought .item h3 a {
    font-size: 15px;
    color: #4b4b4b
}

.course-bought .item h3 a:hover {
    color: #666
}

.course-bought .item .content p.author {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    font-style: italic;
    color: #666
}

.course-bought .item p.date-time {
    float: right;
    color: #a5a5a5;
    font-style: italic;
    line-height: 40px
}

.lesson-viewed .list-item {
    padding: 15px
}

.lesson-viewed .item {
    width: 100%;
    padding: 10px 0
}

.lesson-viewed .item .content {
    float: left;
    font-size: 16px;
    color: #4b4b4b;
    max-width: 70%
}

.lesson-viewed .item .content h3 {
    font-size: 15px
}

.lesson-viewed .item .content h3 a {
    color: #21b1b4;
    transition: all .2s;
    line-height: 1.2em
}

.lesson-viewed .item .content h3 a:hover {
    color: #f2d14b
}

.lesson-viewed .item .content h3 .content-detail:first-letter {
    text-transform: uppercase
}

.lesson-viewed .item .content h3 a.name-user {
    font-weight: 500;
    color: #4b4b4b
}

.lesson-viewed .item .content p.code-question {
    margin: 0 0 0 15px;
    font-size: 14px;
    font-weight: 400;
    font-style: italic;
    color: #666
}

.lesson-viewed .item p.time-view {
    float: right;
    color: #a5a5a5;
    font-style: italic
}

.show {
    display: block
}

.hidden {
    display: none
}

.modal-header h4 {
    color: #fff;
    font-size: 20px
}

.modal-header {
    background: #1263AF
}

.modal-body {
    color: #4b4b4b;
    font-size: 16px
}

.modal-body span {
    font-weight: 600;
    padding: 0 5px
}

#user-module #update-info .form-group {
    line-height: 30px;
    width: 100%;
    clear: both;
    margin: 5px 0
}

#user-module #update-info .form-info {
    padding: 25px 10px;
    border: 1px solid #d0d0d0;
    border-top: 0;
    min-height: 430px
}

#user-module #detail input {
    font-size: 16px;
    box-shadow: none;
    background: 0 0
}

#update-info .form-group span {
    padding: 5px 10px
}

button.btn-update-info {
    background: #1263AF;
    color: #fff;
    padding: 0 15px;
    line-height: 35px;
    font-size: 16px;
    margin: 10px 0
}

button.btn-update-info:hover {
    background: #0ebebc;
    color: #fff
}

.exam-detail-content #previewPDF,
.exam-detail-content .box-content-file {
    min-height: 1000px;
    padding: 15px
}

.exam-detail-content #previewPDF {
    border: 1px solid #f2f2f2
}

#upload-file-modal .modal-header {
    background-color: #1263AF;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #fff
}

#upload-file-modal .modal-footer {
    padding: 8px 15px
}

#upload-file-modal .modal-body {
    padding: 30px 15px
}

.infoQuestion td {
    padding: 15px!important
}

.infoQuestion label {
    width: 100%;
    margin: 0
}

.infoQuestion ol li,
.infoQuestion p {
    margin: 0;
    padding: 0;
    line-height: 20px;
    font-weight: 400
}

.infoQuestion .content-question ol {
    margin: -23px 0 10px;
    padding-left: 40px
}

.infoQuestion .content-question p {
    display: inline;
    padding-left: 30px
}

.infoQuestion {
    border: 1px solid #f1f1f1;
    background: rgba(255, 249, 0, .24)
}

#confirmModal .modal-header,
#survey-upload-form .modal-header {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px
}

.infoQuestion:hover {
    background: rgba(255, 249, 0, .24)!important
}

.infoQuestion .answer {
    border-top: 1px solid #ccc;
    padding-top: 10px
}

#user-module #list-result .info,
#user-module.result-exam-online .sidebar .menu-user {
    min-height: 524px
}

#page-module {
    padding: 0 0 40px
}

h1.title-detail {
    font-size: 22px;
    font-weight: 500
}

.content {
    font-size: 15px;
    letter-spacing: .2px
}

.page-relate .list-item ul {
    padding: 0
}

.page-relate .list-item ul li a {
    font-size: 16px;
    color: #4b4b4b;
    font-weight: 500;
    line-height: 30px
}

.page-relate .list-item ul li i {
    color: #1263AF;
    margin-right: 5px
}

.page-relate {
    margin: 45px 0 0;
    padding: 10px 0;
    border-top: 1px solid #d8d8d8
}

.page-relate .list-item ul li a:hover {
    color: #1263AF
}

.page-relate h1.title-sidebar-news {
    margin: 20px 0
}

#confirmModal .modal-header {
    background-color: #1263AF;
    padding: 10px 15px
}

#confirmModal .modal-body {
    display: table;
    width: 100%
}

#confirmModal .modal-body button {
    margin-right: 10px
}

.topical-lesson .list-topical-lesson .item .info span.price-lesson {
    font-size: 15px
}

.topical-lesson .list-topical-lesson .item .info span.price-lesson i {
    color: #27A74B
}

.topical-lesson .list-topical-lesson a.btn-purchase {
    padding: 5px 10px;
    font-size: 16px;
    color: #fff;
    background: red;
    border-radius: 5px;
    cursor: pointer
}

.exam-ranking .title-site {
    background: #fcaf0a;
    width: 100%
}

.exam-ranking .title-site h1 {
    text-align: center;
    font-size: 18px;
    margin: 0;
    line-height: 1.5em;
    color: #4b4b4b;
    padding: 6px
}

.exam-ranking .table-ranking {
    display: table;
    width: 100%;
    padding: 0
}

.exam-ranking .table-ranking table {
    width: 100%
}

.exam-ranking .table-ranking table tr th {
    color: #1263AF;
    font-size: 16px
}

.exam-ranking .table-ranking p.read-more a,
.exam-ranking .table-ranking p.read-more i,
.exam-ranking .table-ranking table tbody td a .level {
    font-size: 14px;
    color: #fff
}

.exam-ranking .table-ranking table tbody tr td a .name-user-rank {
    color: #1263AF;
    font-size: 14px
}

.exam-ranking .table-ranking p.read-more {
    position: relative;
    padding: 0 10px 0 0;
    bottom: 0;
    float: right
}

.exam-ranking table thead th {
    text-align: center;
    text-decoration: underline
}

.home-ranking table thead th {
    text-align: center
}

.home-ranking table tbody tr td.item-name,
.home-ranking table thead tr th.thead-name {
    text-align: left;
    padding-left: 25px
}

.exam-ranking table tbody tr td.item-name,
.exam-ranking table thead tr th.thead-name {
    text-align: left;
    padding-left: 20px
}

.hr-line-dashed {
    border-top: 1px dashed #e7eaec;
    color: #fff;
    background-color: #fff;
    height: 1px;
    margin: 20px 0
}

#survey-upload-form .modal-body {
    padding: 15px 20%
}

#survey-upload-form .modal-body h2 {
    font-size: 18px;
    color: #1263AF;
    margin: 10px 0
}

#survey-upload-form .modal-body .form-group {
    margin-bottom: 20px
}

#survey-upload-form .modal-body p.support-text {
    font-size: 14px;
    font-style: italic;
    color: brown
}

#search-module h2 {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: .5px
}

#search-module .list-item .item h4 a:hover,
#search-module h2 span,
#search-module h3 {
    color: #1263AF
}

#search-module h3 {
    font-size: 18px
}

#search-module .list-item .item h4 {
    font-size: 16px;
    color: #4b4b4b
}

#search-module .list-item .item h4 a {
    color: #4b4b4b;
    padding: 0 15px;
    line-height: 20px
}

#search-module .list-item .item h4 a i {
    font-size: 12px;
    line-height: 25px
}

#ranking-module .ranking-wrap {
    margin-bottom: 50px
}

#ranking-module .rank-heading {
    background-color: #fff;
}

#ranking-module .rank-heading img.award {
    position: absolute;
    top: -11px;
    left: -11px;
    width: 200px
}

#ranking-module .rank-heading h1 {    
    text-align: center;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 2.5em;
    color: #20BCF0;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 10px;
}

#ranking-module .rank-heading .search-rank i {
    border: 0;
    float: right;
    background: #F7941D;
    text-align: center;
    color: #fff;
    font-size: 18px;
    padding: 0 15px;
    line-height: 34px;
    border-radius: 0 5px 5px 0
}

#ranking-module .rank-heading .search-rank .input-group span {
    padding: 0;
    border: 0;
    cursor: pointer
}

#ranking-module .rank-heading .search-rank input {
    padding: 10px;
    border: 1px solid #ccc;
}

#ranking-module .rank-content {
    background-color: #fff;
    padding: 10px;
    width: 100%
}

#ranking-module .rank-content table {
    width: 100%;
    font-size: 16px;
    color: #4b4b4b;
    border: 1px solid #CC5B5A;
    text-align: center
}

#ranking-module .rank-content table thead tr th {
    text-align: center;
    line-height: 2em;
    background-color: #CC5B5A;
    color: #fff
}

#ranking-module .rank-content table thead,
#ranking-module .rank-content table tr {
    border-bottom: 1px solid #CC5B5A
}

#ranking-module .rank-content table tr:last-child {
    border-bottom: none
}

#ranking-module .rank-content table thead tr th,
#ranking-module .rank-content table tr td {
    border-right: 1px solid #CC5B5A
}

#ranking-module .rank-content table thead tr th:last-child,
#ranking-module .rank-content table tr td:last-child {
    border-right: none
}

#ranking-module .rank-content table tr td {
    line-height: 2em
}

table tr td.item-rank p {
    padding-top: 5px
}

#ranking-module .rank-content table tr td.item-rank p {
    padding-top: 0
}

#ranking-module .rank-content table tr td.item-rank {
    font-weight: 700;
    text-align: center
}

table tr td.rank-copper p,
table tr td.rank-gold p,
table tr td.rank-sliver p {
    position: relative;
    z-index: 3;
    display: block;
    background-color: transparent;
    font-weight: 700;
    font-size: 16px;
    text-align: center
}

table tr td.rank-copper p::before,
table tr td.rank-gold p::before,
table tr td.rank-sliver p::before {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 42px;
    content: ''
}

table tr td.rank-gold p::before {
    background: url(../img/medal-gold.png) center 0 no-repeat rgba(0, 0, 0, 0)
}

table tr td.rank-sliver p::before {
    background: url(../img/medal-sliver.png) center 0 no-repeat rgba(0, 0, 0, 0)
}

table tr td.rank-copper p::before {
    background: url(../img/medal-copper.png) center 0 no-repeat rgba(0, 0, 0, 0)
}

#ranking-module .rank-content table tr td.rank-image img {
    width: 36px;
    height: 36px;
    border-radius: 90%
}

#ranking-module .rank-content table tr td a {
    color: #4b4b4b;
    font-size: 13px;
    font-weight: 700;
}

#faqs-module .list-faqs {
    margin-bottom: 50px
}

#faqs-module .list-faqs h2 {
    margin: 0;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5em;
    color: #4b4b4b
}

#faqs-module .list-faqs h2::after {
    content: ''
}

#faqs-module .list-faqs .list-item {
    padding: 10px 15px
}

#faqs-module .list-item .item {
    display: table;
    width: 100%;
    border-bottom: 1px dotted #f1f1f1;
    padding: 10px 0
}

#faqs-module .list-item .item h4 a {
    font-size: 16px;
    font-weight: 700;
    color: #1263AF;
    transition: all .2s
}

#faqs-module .list-item .item h4 a:hover {
    color: #037678
}

#faqs-module .list-item .item h4 a.answered::before {
    font-family: FontAwesome;
    content: "\f00c";
    color: #53b425;
    margin-right: 8px
}

#faqs-module .list-item .item h4 a.not_answered::before {
    content: "\f128";
    font-family: FontAwesome;
    color: #fb9700;
    margin-right: 15px
}

#faqs-module .list-cate h1 {
    margin: 15px 0 10px;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.5em;
    color: #4b4b4b
}

#faqs-module .list-cate {
    border-left: 1px solid #f2f2f2;
    padding-left: 30px;
    padding-right: 20px;
    margin-bottom: 20px
}

#faqs-module .list-cate ul {
    margin: 0;
    padding: 0
}

#faqs-module .list-cate ul li {
    padding: 5px 15px;
    border-bottom: 1px dotted #f2f2f2
}

#faqs-module .list-cate ul li a {
    font-size: 14px;
    font-weight: 700;
    letter-spacing: .2px;
    color: #4b4b4b;
    line-height: 1.2em;
    transition: all .2s
}

#faqs-module .list-cate ul li a:hover {
    color: #037678
}

#faqs-module .faqs-detail {
    padding: 15px;
    margin-bottom: 50px;
    font-size: 15px;
    color: #4b4b4b
}

#faqs-module .faqs-detail h2 {
    font-size: 24px;
    font-weight: 500;
    color: #4b4b4b;
    line-height: 1.5em
}

#faqs-module .faqs-detail .question {
    padding: 15px 0;
    font-size: 18px
}

#faqs-module .faqs-detail .answer {
    padding: 15px;
    border: 1px solid #badfff;
    background-color: #f0f8ff
}

#faqs-module .faqs-detail .answer h4 {
    font-size: 14px;
    font-weight: 700
}

#faqs-module .related-qes h1 {
    font-size: 18px;
    font-weight: 700;
    color: #4b4b4b;
    margin: 30px 0 10px;
    border-top: 1px solid #f2f2f2;
    padding: 15px 0
}

#faqs-module .related-qes h4.rel-title {
    width: auto!important;
    line-height: 20px;
    font-size: 16px;
    margin: 0 0 10px
}

#faqs-module .related-qes h4.rel-title a {
    font-weight: 500;
    color: #4b4b4b
}

#faqs-module .related-qes .item {
    border: none;
    padding: 0
}

.anserById .form-question {
    width: 369px!important
}

.info-content {
    margin-top: 15px
}

.no-padding {
    padding: 0
}

.btn-info {
    background: #039497;
    border-color: #039497
}

.btn-info:hover {
    background: #f0ca31;
    border: 1px solid #f0ca31!important;
    color: #4b4b4b
}

.btn,
.form-control {
    border-radius: 0
}

.btn-start {
    background: #449d44;
    border-color: #449d44
}

.facebook-group label {
    padding: 15px 16px;
    font-size: 22px;
    display: block;
    white-space: normal;
    line-height: 31px
}

.facebook-group label a:hover {
    color: #f0ca31
}

.facebook-group label a {
    color: #fff
}

#purchaseModal .modal-header {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px
}

#document-module .list-item {
    border-right: 1px solid #f0f0f0;
    border-left: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0
}

#document-module .list-item h4 {
    margin: 0
}

.exam-detail-heading nav.navbar {
    width: 100%
}

.content-footer ul li a {
    font-size: 14px;
    color: #191919;
    padding: 0;
    line-height: 14px;
    transition: all .2s;
}

.content-footer ul li a:hover {
    background: 0 0;
    color: #f7941d
}

.content-footer ul li {
    padding-bottom: 23px;
    float: none
}

.exam-detail-content .box-answer-file {
    border: 1px solid #f2f2f2;
    margin: 15px 0;
    background-color: #faebd7;
    text-align: center;
    padding: 15px
}

.exam-detail-content #previewPDF {
    background-color: #f0f8ff;
    margin-bottom: 50px
}

#courses-module #list-courses .row {
    margin-right: 0;
    margin-left: 0
}

.exam-detail-content .question p+img {
    display: table;
}

.intro-video, .description-course{
    border:1px solid #f5f5f5;
}
.description-course{
    padding: 15px 0px;
}


body{
    color:#4b4b4b;
}
#register-free .form-group span {
    color: #848484;
    text-align: left;
    display: inline;
    padding: 5px 2px;
}
.overlay-black {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(0,0,0,.7);
    width: 100%;
    height: 100%;
    z-index: 1000;
    padding: 0;
    margin: 0;
}
.overlay-black h3{
    color: white;
    text-align: center;
    margin-top: 20%;
}
.featured_widget_exam .tab-content{
    background: #fff;
    width: 100%;
}
.featured_widget_exam ul.nav-tabs li a{
    background: #1263AF;
    color:#4b4b4b;
    margin-right: 0px;
    border:0px;   
}
.featured_widget_exam .nav-tabs>li.active>a:hover{
    border: 0px;
}
.featured_widget_exam ul.nav-tabs li a i{
    font-size: 12px;
}
.featured_widget_exam ul.nav-tabs{
    height: 39px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.featured_widget_exam ul.nav-tabs li#tab1 {
    width: 100%;
    box-sizing: border-box;
}
.featured_widget_exam ul.nav-tabs li#tab2 {
    width: 60%;
    box-sizing: border-box;
}
.featured_widget_exam ul.nav-tabs>li{
    margin-bottom: 0px;
}
.featured_widget_exam ul.nav-tabs li a{
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 0px;
    color:#fff;
}
.featured_widget_exam ul.nav-tabs li.active a{
    background: #20BCF0;
    color:#fff;
    border-radius: 5px 5px 0px 0px;
}
.featured_widget_exam #news ul{
    width: 100%;
    padding: 0px;
    margin:0px;
}
.featured_widget_exam #news ul li a i{
    color: #fcaf0a;
    font-size: 12px;
    padding-right: 5px;
}
.featured_widget_exam #news ul li a{
    color:#4b4b4b;
}

.newTickers .col-md-11 {
    display: inline-block;
    font-style: normal;
    font-weight: bold;   
    height: auto; 
}
.newTickers .vticker{
    margin-top: 10px;
}
.newTickers .box-heading {
    display: inline-block;
    font-style: normal;
    color: red;
    font-weight: bold;
}
.newTickers .box-heading h3{
    font-size: 16px;
    padding: 10px 0px;
    margin: 0px!important;
    color: #21bdf1;
    font-weight: 700;
}
.newTickers .box-content ul{
    margin:0px;
    padding: 0px;
    height: 40px;
    overflow: hidden;
}
.newTickers .box-content ul li a {
    font-size: 14px;
    font-weight: 500;
    color: #4b4b4b;
}
#free-study{
    border-radius: 5px;
}
#free-study h3{
    font-family: Arial;
    font-size: 40px;
    color:#fcaf0a;
}
#free-study p{
    color: #fafafa;
    padding-bottom: 20px;
}
a.btn-learning{
    background: #fcaf0a;
    color: #4b4b4b;
    font-weight: 700;
    margin-bottom: 30px;
}
#list-courses.list-item .item{
    position: relative;

}
#list-courses.list-item .info-relate{
    position: absolute;
    top: 150px;
    left: 11px; 
    background: #f0ca31;
    font-weight: 700;
    color: #4b4b4b;
    padding: 9px 15px 1px 15px;
}
#list-courses.list-item .info-relate::after {
    content: '';
    display: block;
    border: 20px solid #f0ca31;
    border-right-color: transparent;
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: 93%;
}
#list-courses.list-item .info-relate::before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border: 2px solid #f0ca31;
    border-color: transparent #f0ca31 #f0ca31 transparent;
    position: absolute;
    bottom: 100%;
    left: 0;
}
.module h1.page-title{
    padding: 0px;
    color: #1263AF;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}

.module-exam-store h1.page-title, .module-course h1.page-title{
    padding-left:21px; 
}
.topical-lesson .list-topical-lesson .item:last-child{
    border:none;
}

#answer-question{
    border: 2px solid rgba(32, 142, 205, 0.73);
    padding: 14px;      
}
#answer-question h3{
    font-size: 13px;
    margin: 0px 0px 10px 0px;
    font-weight: 700;
}
.ads-02{
    margin-top: 19px;
    clear: both;
    height: 93px;
    overflow: hidden;
}
.ads-02 img {
    width: 100%;
}
.faq-side {
    padding: 0 15px
}
/*document module*/
#document-module .list-item .item{
    padding: 8px 15px;
}
#document-module .list-item .item h4 i{
    color: red;
    padding-right: 10px;
}
#document-module .list-item .item h4 a{
    color: #4b4b4b;
    font-size: 16px;
    transition: all .2s;
}
#document-module .list-item .item .download-doc{
    padding: 5px 27px;
}
#document-module .list-item .item h4 a:hover{
    color: #039396;
}
#document-module .list-item .item .download-doc a{
    margin-right: 15px;
    font-size: 14px;
    font-weight: bold;
    color: #14928e;
}
.no_result{
    display: block;
    padding: 15px;
}
.module-lesson .heading-lession{
    background: #039396;
    padding: 10px 15px;
}
.module-lesson .heading-lession h3{
    margin: 0px;
    padding: 0px;
    color: #fff;
    font-size: 19px;
}
.chat h2 {
    font-size: 20px;
    background: #4965b5;;
    line-height: 50px;
    color: #fafafa;
    padding: 0 5px;
    margin: 0;
    text-align: center;
}
.download-lesson i {
    color: #ff0000;
}
.download-lesson a {
    color: #039396;
    font-weight: 700;
    text-transform: uppercase;
    float: right;
    margin-left: 15px;
}
.chat-content{
    margin-top: 15px;
}
.video-lesson{
    margin-bottom: 15px;
}
/*user activity */
#vertical-timeline {
    margin: 30px 15px;
    position: relative;
    max-height: 500px;  
    background: linear-gradient(180deg, transparent, #f1f1f1, transparent);
    background-position: 108px 0;
    background-repeat: repeat-y;
    background-size: 3px auto;
}
#vertical-timeline .vertical-line {
    position: absolute;
    left: 108px;
    top: 0;
    background: #f1f1f1;
    z-index: -1;
    width: 2px;
}
#vertical-timeline .vertical-timeline-block {
    margin-bottom: 40px;
    padding-left: 110px; 
}
#vertical-timeline .vertical-timeline-icon {
    float: left;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 19px;
    border: 3px solid #f1f1f1;
    text-align: center;
    display: none;
}
#vertical-timeline .vertical-timeline-icon i {
    display: block;
    width: 24px;
    height: 24px;
    margin: 28% 0 0 25%;
}
#vertical-timeline .vertical-timeline-content {
    background: #f5f5f5;
    padding: 10px;
    position: relative;
    margin-left: 16px;
    border-radius: 0.25em;
    color: #636363;
    font-size: 15px;
}
#vertical-timeline .vertical-timeline-content::before {
    content: '';
    position: absolute;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-right: 7px solid white;
    left: auto;
    right: 100%;
    border-color: transparent #f5f5f5 transparent transparent;
}
#vertical-timeline .vertical-timeline-content h2{
    margin: 0;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: .3px;
}
#vertical-timeline .vertical-timeline-content p {
    line-height: 1.5em;
    letter-spacing: .3px;
}
#vertical-timeline .vertical-timeline-content span.vertical-date {
    left: -116px;
    text-align: left;
    position: absolute;
    top: 5px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: .5px;
    width: 85px;
}
#vertical-timeline .vertical-timeline-content span.vertical-date small {
    color: #1ab394;
    font-weight: 400;
}
#vertical-timeline .vertical-timeline-content a.name-user {
    display: none;
}
#vertical-timeline .vertical-timeline-content a{
    color: #039396;
    font-size: 15px;
}
#vertical-timeline .vertical-timeline-content a:hover {
    color: #026163;
}
#vertical-timeline .vertical-timeline-content:first-letter{
    text-transform: uppercase;
}
.load-more a.btn-load-more {
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    border:none;
    border: 1px solid;
    padding: 10px 20px;
    background: #039396;
}
.load-more a.btn-load-more:hover {
    color: #F0CA31
}
.navy-bg {
    background-color: #1ab394;
    color: #ffffff;
}
.blue-bg {
    background-color: #1c84c6;
    color: #ffffff;
}
.lazur-bg {
    background-color: #23c6c8;
    color: #ffffff;
}
.yellow-bg {
    background-color: #f8ac59;
    color: #ffffff;
}

.content-detail img, .content-detail iframe{
    max-width:100%;
    height: auto;
}
.facebook-group .label{
    background: #00b7b2;
}
.outstanding .img-news.img img{
    max-width: 100%;
    height: 100%;
}
.topical-lesson {
    border: 1px solid #fafafa;
}

.scrollbar::-webkit-scrollbar{width: 8px;background-color: #fafafa;}
.scrollbar::-webkit-scrollbar-thumb{background-color: #6d84b4;border-radius: 0px;}
/*for video introduce at home page*/
.video-introduce {
    width: 100%;
}
/*for user public*/
#user-module .user-info img.avatar-public {
    max-width: 200px;
    max-height: 200px;
}    

#update-info{
    margin-top: 20px;
}

.video-lesson{
    position: relative;
}
.logo_video{
    position: absolute;
    bottom: 13px;
    right: 10px;
    background: #fff;
    width: 93px;
}
.logo_video img{
    width: 96px;
}
span.white-color{
    color:#fff!important;
    padding:3px 5px!important;
    display: inline-block;
    width: 68px;
}

.khoa-hoc{
    margin-bottom: 20px;
    margin-top: 20px;
}
h2.section-heading{
    text-align: center;
    text-transform: uppercase;
    color: #1263AF;
    margin: 10px 0px 25px 0px;
    font-size: 35px;
    font-weight: 700;
}
.khoa-hoc .items .item .img-thumbnail img{
    width: 100%;
}
.khoa-hoc .items .item .img-thumbnail{
    position: relative;
    border:0px;
}
.khoa-hoc .items .item .img-thumbnail span{
    position: absolute;
    bottom: 4px;
    right: 3px;
    font-weight: 700;
    padding: 6px 20px;
    border-radius: 5px 5px 0px 0px;
}
.khoa-hoc .items .item{
    margin-bottom: 10px;
    -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
}
.khoa-hoc .items .item .img-thumbnail span.free{
    background: green;
    color:#fff;
}
.khoa-hoc .items .item .img-thumbnail span.fee{
    background: #EF0D4E;
    color:#fff;
}
.khoa-hoc .items .item h3{
    font-size: 14px;
    font-weight: 700;
    margin: 0px;
    padding: 10px;
    text-transform: uppercase;
    line-height: 20px;
}
.khoa-hoc .items .item h3 a{
    color:#222;
}
.khoa-hoc .items .item h3 a:hover{
    color:#ec0750;
}



.exams-online a span{
    font-size: 13px;
}
.exams-online a span.coming{
    color:#4966b6;
}
.exams-online a span.doing{
    color:red;
}
.exams-online a span.finished{
    color:#039396;
}

.box-cometency{
    background: #f0f0f0;
    padding: 11px;
    border-radius: 5px;
}

#survey i{
    display: none;
}
/*banner ads sidebar*/
#document-module .list-txt{
    margin-bottom: 20px;
}
.banner.center img {
    max-width: 100%;
}
.banner.center {
    max-height: 150px;
    overflow: hidden;
    text-align: center;
}
.banner.center-bottom {
    margin-bottom: 20px;
}
.banner.position-3 {
    margin-left: -15px;
    margin-right: -15px;
    text-align: center;
}
.banner.position-3 img{
    max-width: 100%;
    max-height: 100%;
}
.banner.position-4 {
    position: absolute;
    left: 0;
    top: 0;
}
.banner.position-5 {
    position: absolute;
    right: 0;
    top: 0
}
#document-detail {
    position: relative;
}

#productWrapper{
    position: relative;
}
#productWrapper #bigshare_overlay_logo{
    position: absolute;
    top:3px;
    right: 5px;
    display: none;
}
.banner.popup {
    position: fixed;
    bottom: 0;
    max-width: 250px;
    overflow: hidden;
    z-index: 99;
}
.banner.popup .popup-heading {
    display: table;
    width: 100%;
}
.banner.popup .popup-content {
    max-width: 250px;
    max-height: 250px;
    border: 1px solid #f2F2f2;
}
.banner.popup .popup-content img {
    max-width: 100%;
    max-height: 100%;
}
.banner.popup.left-popup{
    left: 0;
}
.banner.popup.right-popup{
    right: 0;
}
.banner.popup.right-popup .popup-heading .btn-control {
    float: right;
}
.popup .popup-heading .btn-control {
    background-image: url(../img/button.gif);
    background-repeat: no-repeat;
    width: 30px;
    height: 0;
    padding-top: 15px;
    overflow: hidden;
    float: left;
    cursor: pointer;
}
.popup .popup-heading .btn-control.min {
    background-position: -30px 0
}
.popup .popup-heading .btn-control.max {
    background-position: -60px 0;
}
.popup .popup-heading .btn-control.btn-close {
    background-position: 0 0;
}
.popup .popup-heading .btn-control.min:hover {
    background-position: -30px -15px;
}
.popup .popup-heading .btn-control.max:hover {
    background-position: -60px -15px;
}
.popup .popup-heading .btn-control.btn-close:hover {
    background-position: 0 -15px;
}
.question-request h4 {
    border-bottom: 1px solid #039396;
    line-height: 1.5em;
    text-align: center;
    font-size: 24px;
    color: #039396;
    margin-bottom: 20px;
}
.question-request input,
.question-request textarea {
    border-color: #039396;
}

.menu-item-title{
    font-size: 14px;
    text-align: left;
    text-transform: uppercase;
    border-bottom: 2px solid #5cb85c;
    padding-bottom: 10px;
    line-height: inherit;
    background: #5cb85c;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    min-height: 70px;
    vertical-align: middle;
    display: block;
    font-weight: 700;
}
.menu-item-title:hover{
    background:#6bbe6b;
}
.menu-item-title a{
    color:#fff;
}
.menu-item-ul{
    margin: 5px 26px;
    padding: 0px;
}
.menu-item-ul li{
    list-style-type: decimal;
    color:#00a3b9;
}

.menu-item-ul li a{
    color: #4b4b4b;
}

.menu-full-item.col-md-4 {
    overflow: hidden;
}

.wrap-item-menu{
    overflow: hidden;
}

a.lnk-menu-more{
    cursor: pointer;
    background: #f0f0f0;
    padding: 5px 30px;
}
a.lnk-menu-more i{
    color:#4b4b4b;
    font-size: 20px;
}
.p-menu-more.text-center{
    clear: both;
    padding-top: 24px;
}
body {
    position: relative;
}
.exam-detail-content .banner.banner-outer.position-4,
.exam-detail-content .banner.banner-outer.position-5 {
    position: absolute;
    right: 0;
    top: 51px;
}
.banner.fix.fix-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 90;
}
footer {
    padding: 5px 0 50px;
}
.list-topical-lesson .item.active h3 a{
    color:red;
}
.outstanding .img-news {
    height: auto;
}
.news-items .outstanding {
    min-height: 0;
}
.faq-video {
    margin-bottom: 15px;
}

#list-courses.list-item .item .box{
    padding: 1px;
    border:1px solid #fafafa;
    -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);    
}
span.c_price {
    color: red;
    font-weight: 700;
}
#ranking-module .ranking-month {
    border-color: #23c6c8;
}

#ranking-module .ranking-month .rank-content table tr td {

}

.panel-exam-result{
    clear: both;
}
#answer-sheet-panel{
    width: 182px;    
    position: fixed;
    top:60px;
    right:0px;    
    border-top:0px;
    z-index:99999;
    border:1px solid #f5f5f5;
    background: #fff;
    border-radius: 5px;
}

#answer-sheet-panel .box-bottom.mcq-exam .btn{
    width: 87px;
    margin: 1px 0px;
    padding: 5px;
}

#answer-sheet-panel .sheet-container{
    overflow-y: scroll;
    height: 450px;
    padding: 5px;
    background: #fff;
    border-left: 1px solid #41a94e;
}
#answer-sheet-panel .radio-asw{
    display: inline-block;
    padding: 5px 0px;
}

.row-asw{
    overflow: hidden;
    border-bottom: 1px solid #f0f0f0;
}

.question img{
    width: 100%;
    height: auto;
}
a.asw-text{
    background-color: #fff;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: block;
    text-align: center;
    border:1px solid #f0f0f0;
    line-height: 20px;
    color:#4b4b4b;
    cursor: pointer;
}
.radio-asw a.active, .radio-asw a:hover{
    background-color: #41a94e!important;
    color:#fff!important;
    border:1px solid #41a94e!important;
}
div.ques-label{
    clear:both;
    font-weight: 700;
    float: left;
    padding-top: 6px;
    width: 30px;
}
#answer-sheet-panel h3{
    font-size: 14px;
    background-color: #41a94e;
    padding: 10px;
    text-align: center;
    color: #fff;
    margin: 0px;
}

a.active.asw-true.asw-right{
    background-color: #41a94e!important;
    color: #fff!important;
    border: 1px solid #41a94e!important;     
}
.asw-true{
    background-color: #41a94e!important;
    color: #fff!important;
    border: 1px solid #41a94e!important;   
}

.asw-wrong{
    background-color: #be0316!important;
    color: #fff!important;
    border: 1px solid #be0316!important;  
}
a.asw-text.active{
    background-color: #be0316;
    color: #fff;
    border: 1px solid #be0316;  
}

span.aswed{
    font-weight: 700;
}

.exam-detail-content .box-item .question{
    width: 90%;
}

.user-box-content{
    border:1px solid #f0f0f0;
    overflow: hidden;
    padding-bottom: 15px;    
}
#user-module .title-page{
    background: #f1f1f1;
    color:#4b4b4b;
}

.scrollbar::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.1);
    background-color: #F5F5F5;
}

.scrollbar::-webkit-scrollbar
{
    width: 5px;
    background-color: #F5F5F5;
    border-radius: 0px;
}

.scrollbar::-webkit-scrollbar-thumb
{
    background-color: #c7dff8;
}

.course-practice .nav-tabs li a{
    background: #EF0D4E!important;
    font-weight: 700!important;
    font-size: 15px;
    text-transform: none;
}

.practice-items{
    max-height: 800px;
    overflow-y: scroll;
    padding-bottom: 20px;
    margin-bottom: 30px;
    background: #dbebfb;   
    padding:0px!important; 
}
.practice-items ul li{
    border-bottom: 1px solid #c7dff8;
    padding: 5px 10px;
}
.practice-items ul li a{
    color:#191919!important;
}
.practice-items ul li:hover{
    background: #fea419!important;
}
.practice-items ul li:hover a{
    color:#fff!important;
}

h3.sub-title{
    font-size: 14px;
    font-weight: 700;
    color: #1C84C6;    
}

.btn-courses{
    margin-top: 15px;
    clear: both;
    display: block;
}
#detail-courses .head-content{
    overflow: hidden;
}
.course-blocks{
    margin-top:30px;
    clear: both;
    display: block;
    margin-bottom: 40px;
}
.course-blocks .course-box{
    height: 120px;    
    display: block;
    position: relative;
    text-align: center;
}
.course-blocks .course-box h3{
    vertical-align: middle;
    display: inline-block;
    margin: 45px;
}
.course-blocks .course-box.cb1 h3{
    margin: 34px;
}
.course-blocks .course-box h3 a{
    color:#fff;
}
.course-blocks .course-box.cb1{
    background: #2196F3;
}

.course-blocks .course-box.cb2{
    background: #AE00FF;
}
.course-blocks .course-box.cb1:hover{
    background: #0D8BF2;   
}
.course-blocks .course-box.cb2:hover{
    background: #9B00E6;
}
.course-blocks .course-box.cb3{
    background: #4C9F43;
}
.intro-video h3{
    margin: 0px 0px 10px;
    background: #FAFAFA;
    padding: 7px 15px;
    font-size: 16px;
    text-transform: uppercase;
    color: #1675D3;
    font-weight: 700;
}


.section-advantages {
    border: 1px solid #e3e3e3;
    border-radius: 5px;
    overflow: hidden;
    background: #CC5B5A;
}
.section-advantages_mod-a {
    padding-top: 60px;
    padding-bottom: 24px;
    background-color: #f7f7f7;
}

.ui-title-block_mod-a {
    margin-top: 12px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.45;
    text-align: center;
}
.ui-subtitle-block_mod-a {
    margin-top: 15px;
    margin-bottom: 37px;
    text-align: center;
}
.profil-create-stage div[class^="col-md"] {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    color: #CFCECE;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
}
.filter-title>span {
    color: white;
    height: 56px;
    line-height: 56px;
    padding: 0 80px;
    background-color: #F15B2B;
    display: inline-block;
    position: relative;
}
.filter-title>span:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width: 0;
    border-left: 28px solid #fafafa;
    border-bottom: 28px solid transparent;
    border-top: 28px solid transparent;
}
.filter-title>span:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 0;
    width: 0;
    border-right: 28px solid #fafafa;
    border-bottom: 28px solid transparent;
    border-top: 28px solid transparent;
}
.ui-title-inner {
    font-family: Roboto , arial , arial;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.6;
    color: #222;
    text-transform: uppercase;
    margin-top: 5px;
}

.fs-index {
    display: inline-block;
    color: white;
    height: 90px;
    width: 90px;
    font-size: 45px;
    font-weight: 500;
    left: 0;
    line-height: 88px;
    background-color: #0673ba;
    border-radius: 50px;
    text-align: center;
}

.filter-title{
    font-size: 18px;
}

.btn-courses a{
    font-size: 13px;
    font-weight: 700;
    border-radius: 2px;
    padding: 9px 20px;
    background: #1675D3;
    border:1px solid #1675D3;
}
.btn-courses a:hover{
    border:0px;
}

.user-info{
    padding: 15px;
}
form#rank-month-search-form {
    margin-bottom: 15px;
}

.c-content-detail {
    border:1px solid #e3e3e3;
    padding: 15px;
    margin-bottom: 30px;
}
.c-content-detail h3{
    font-weight: 700;
    font-size: 15px;
    text-transform: uppercase;
    color:#378BDB;
    border-bottom: 2px solid #F7941D;
    padding-bottom: 10px;
    float: left;
}
.c-content-detail .ck-editor{
    clear: both;
}

.facebook-container {
    position: fixed;
    bottom: 0px;
    right: 20px;
    z-index: 999;
    width: 250px;
}

.facebook-container .open-dialog {
    border-radius: 3px 3px 0px 0px;
    padding: 10px 20px;
    background: #3B5998;
    color:#fff;
    cursor: pointer;
    font-weight: 700;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
}

.facebook-container .close-dialog {
    background: #fff;
    position: absolute;
    right: -15px;
    top: -15px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: 5px 10px;
    color: #000;
    cursor: pointer;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
}

#facebook-iframe {
    width: 360px;
    height: 350px;
    border: none; 
    overflow: hidden;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
}

.video-box-aws {
    margin: 0px auto;
    width: 50%;
}

.mes-result{
    font-size: 19px;
    font-weight: 700;
    color: #00C219;
}

.category-header {
    margin-bottom: 27px;
}

.category-header h3{
    text-align: center;
}
.category-header h3 a {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 25px;
    border-bottom: 2px solid;
    padding: 5px 0px;
    color: #ec0750;
}


.search-rank>div:first-child{
    font-size: 16px;
}
#news ul li{
    margin-bottom: 10px;
}

.khai_giang{
padding: 0px 10px 10px 10px;
    position: absolute;
    bottom: -12px;
}

.hocphi_goc{
    font-style: italic;
    color: #FFEB3B;
    font-size: 11px;
}


.box-image-box{
    border:1px solid #d7d7d7;
    text-align: center;
    padding: 5px;
}
.box-image-box img{
    width: 100%;
}

.book-info h1{
    margin: 0px;
    text-transform: uppercase;
    font-size: 22px;
}

.product-price {
    border: 2px dashed #2D97FB;
    padding: 15px 20px;
    background: #fafafa;
}
.product-price .price-value {
    font-weight: 700;
    color: red;
    font-size: 25px;
}
.product-price .price-item {
    line-height: 35px;
}
.product-price .price-value.del {
    text-decoration: line-through;
    color: #666;
}
.product-price .price-value {
    font-weight: 700;
    color: red;
    font-size: 25px;
}

.book-view{
    padding-bottom: 30px;
}
.booking{
    background: #44C3DE;
    padding: 10px;
    border-radius: 3px;
}
.booking h3{
    text-align: center;
    margin: 0px;
    padding: 10px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    background: aliceblue;
    margin-bottom: 10px;
    border-radius: 5px;
    color: darkcyan;    
}
.booking .form-control{
    height: 40px;
    margin-bottom: 15px;
    border-radius: 3px;
    font-size: 16px;
    color: #000;
    border: 0px;
}
.btn-booking{
    width: 100%;
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 15px;
    border-radius: 3px;
    color: #fff;
    background-color: #1263af;
    border-color: #1263af;    
}

.book-addon a{
    width: 50%;
    float: left;
}

.in_stock{
    color:#00B862;
    font-weight: 700;
}

.out_of_stock{
    color:#2C3B41;
    font-weight: 700;
}

@-webkit-keyframes my {
     0% { color: red; } 
     50% { color: #C71A18;  } 
     100% { color: red;  } 
 }
 @-moz-keyframes my { 
     0% { color: red;  } 
     50% { color: #C71A18;  }
     100% { color: red;  } 
 }
 @-o-keyframes my { 
     0% { color: red; } 
     50% { color: #C71A18; } 
     100% { color: red;  } 
 }
 @keyframes my { 
     0% { color: red;  } 
     50% { color: #C71A18;  }
     100% { color: red;  } 
 } 
 .fee-lesson {
         font-weight:bold;
     -webkit-animation: my 900ms infinite;
     -moz-animation: my 900ms infinite; 
     -o-animation: my 900ms infinite; 
     animation: my 900ms infinite;
}

.book-items .item .info{
    padding: 10px;
}
.book-items .item .info h2 a{
    color: #222;
    text-transform: none;
    font-size: 16px;
}

.book-items .item .img-thumbnail{
    max-height: 358px;
    overflow: hidden;
}

/**css custom 2019/07/21**/
.lesson-detail {
    padding: 20px;
}